@charset "utf-8";

/* CSS Document */



@media(max-width:1820px){

.prod-detback{background-image:none;}

.prod-detbackleft{float:none; width:60%; margin:30px auto;}

.prod-detbackleft img{display:block; margin:10px auto;}

.prod-detbackright{float:none; width:60%; margin:30px auto; display:block;}

.prod-detbackright img{display:block; margin:0 auto;}

.prod-detbackleft p{text-align:center;}

.bluebar{display:block; margin:0 auto;}

.prod-detbackleft p{padding:0;}

.webback-left p{padding:0;}

}





@media(max-width:1755px){

.webback{background-image:none;}

.webback-left{float:none; width:60%; margin:30px auto;}

.webback-left img{display:block; margin:10px auto;}

.webback-right{float:none; width:60%; margin:30px auto; display:block;}

.webback-right img{display:block; margin:0 auto;}

.webback-left p{text-align:center;}

.bluebar{display:block; margin:0 auto;}

.shoptabdiv{margin-top:0px; padding:0;}

.blockcore{background-image:none;}


.content_writing_top_banner_dsgn .content_writing_bannertext h2 { font-size: 72px;}
#multiPresenceimage {
    background: url(../images/cc-pres-left.png) 100px 34px no-repeat, 
	url(../images/cc-pres-right.png) right center no-repeat;
    background-color: #dedede;
}



}



@media(max-width:1680px){





.menudiv .navbar li{ padding:0 0px!important; margin:0 8px; }



.menudiv .contactmenu{  padding:0!important; margin:0!important;}



.menudiv .contactmenu a{ padding:0 60px!important;  margin-left:5px!important; font-size:20px!important;}



.textblock8{ background:url(../images/bottommanner.png) no-repeat left top; background-size:1680px;  height:468px;}



.textblock8 .bottomtextblock{ margin:60px 0 0 65px;}

.textblock8 .bottomtextblock h4{ margin-left:80px;}



.textblock8 .bottomtextblock h5{ margin-left:200px;}



.textblock8 .bottomtextblock p{ margin-left:220px;}


}







@media(max-width:1666px){

.menudiv .navbar li{ padding:0 0px!important; margin:0 6px; }

.menudiv .navbar li a{ font-size:14px;}

.menudiv .contactmenu a{ padding:0 30px!important; font-size:17px;}



}











@media(max-width:1600px){

.textblock8{ background:url(../images/bottommanner.png) no-repeat left top; background-size:1600px;  height:440px;}
.textblock8 .bottomtextblock{ margin:50px 0 0 65px;}

.content_writing_top_banner_busmodl {
    background-position: 160% top; height:auto;
}
.content_writing_top_banner_dsgn  .content_writing_bannertext h2 { font-size: 65px;}

.content_writing_top_banner_dsgn .col-lg-7, .content_writing_top_banner_dsgn .col-md-7 {
    width: 44%;
}
.mainbutton {width: 96%;}
.mainbutton .btnadd {font-size: 24px;}

}







@media(max-width:1400px){

.textblock3{ background-size:90%;}
}



@media(max-width:1366px){

.logodiv{ width:260px; float:left;}



.logodiv .indexlogo{ width:92%;}



.menudiv .navbar li a{ font-size:12px; line-height:55px;}



.menudiv .contactmenu a {

    font-size: 16px!important;

    padding: 0 22px !important;

}



.logodiv .logoblock{ background-size:54px;  padding-left: 60px;}



.bannercontain .carousel-indicators{  bottom:0%;}



.textblock8{ background:url(../images/bottommanner.png) no-repeat left top; background-size:1366px;  height:380px;}



.textblock8 .bottomtextblock h4{ margin-left:140px; font-size:20px;}

.textblock8 .bottomtextblock h5{ font-size:40px; margin:10px 0 0 250px;}



.textblock8 .bottomtextblock p{ width:300px; margin-left: 260px;

    margin-top: 10px;}

	

	.textblock8 .bottomlink img {

    display: block;

    float: left;

    margin: 0 0 0 64px; width:240px;

}

.textblock8 .bottomlink .portfolio_link2{ line-height:48px; width:145px;}

.content_writing_bannertext h2{font-size:65px;}
.content_writing_bannertext h3{font-size:30px;}

.content_writing_top_banner_dsgn .col-lg-7, .content_writing_top_banner_dsgn .col-md-7 {width: 40%;}
.content_writing_top_banner_dsgn .content_writing_bannertext h2 {font-size: 52px;}
.content_writing_top_banner_dsgn .content_writing_bannertext h3 {font-size: 36px;padding-top: 38px;}
.content_writing_top_banner_dsgn .bannertxt {margin-bottom: 20px; padding-top: 28px;}

}






@media(max-width:1280px){



.logodiv{ width:100%; float:none; }



.logodiv .logoblock{ background:none;}



.logodiv .indexlogo{ width:256px; margin:0 auto; max-width:98%; display:block;}





.menudiv{ width:100%; float:none;}



.responsivemenu {

    color: #fff;

    display: inline-block;

    font-family: "OpenSans-Semibold";

    font-size: 22px;

    font-weight: bold;

    padding: 4px 0 0 0;

}

.topblock .navbar-header {

    display: block;

    margin: 0 auto;

    padding: 5px 10px;

    width: auto; float:none;

	background:#ff7c01;

}

.topblock  .navbar-toggle {

    display: inline-block;

    float: right;

    margin: 4px 0 0 0; border:none;

	 background:#fff;

}





.topblock  .nav {

   

    padding: 0;

    text-align: center;

    width: 100%; margin-top:0px !important;

}

.topblock  .nav a {

    

    border: medium none !important;

    display: block;

    font-size: 18px;

    line-height: inherit !important;

    padding: 0 !important;

}

.topblock k .navbar-collapse {

    margin: 0;

    padding: 0;

}

.topblock  .navbar-nav {

    margin: 0;

    padding: 0;

}







.topblock  .navbar-collapse.collapse {

    border: medium none !important;

    display: none !important;

}

.topblock  .navbar-nav {

    border: medium none !important;

    float: none !important;

	background:#ff7c01;

}

.topblock  .navbar-nav > li {

    float: none; border-top:solid 1px #f0f3f2; padding:0!important; margin:0!important;

}



.topblock  .navbar-nav > li a{ padding:10px 0!important; font-size:16px; color:#fff;}



.menudiv .contactmenu a{ margin:0!important;}

.topblock  .collapse.in {

    display: block !important;

}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {

    background-color: #f8f8f8;

    color: #010101;

}

.topblock  .dropdown-menu {

    display: block;

    margin-top: 5px;

    padding: 0;

    position: inherit;

    top: 0;

    width: 100%;

}

.topblock  .navbar-default{ background:#ff7c01;}





.menudiv .navbar li a:hover{ color:#fff; background:#d96d08;}

.menudiv .navbar li a.active{ color:#fff; background:#d96d08;}

.textblock8 .bottomtextblock h4 {

    font-size: 20px;

    margin-left: 180px;

}

.textblock8 .bottomtextblock p {

    margin-left: 310px;}

	.textblock8 .bottomlink img { margin-left:104px;}

	.homeformblock2{background-image:none;}

	.shoptabdiv{ margin:10px 0px 0px;}

	.shoptabdiv ul li{float:none;}

	.shoptabdiv ul li a{display:block; margin-top:10px;} 

	.t1, .t2, .t3, .t4, .t5{ background-position:center 20px;}

	.shoptabdiv ul li {
    margin: 0 3px 5px;
    padding-top: 10px;
}
.shoptabdiv ul li {
    display: inline-block;
    float: none;    
}

    
	.content_writing_bannertext h2{font-size:56px;}
	.content_writing_bannertext h3{font-size:36px;padding-top: 39px;}
	.presencecontent h3 {text-align: center;}


	.content_writing_top_banner_cont{background-position:100% top;}
	.content_writing_top_banner_dsgn{background-position:100% top;}
	.content_writing_top_banner_corecomp{background-position:100% top;}
	.content_writing_top_banner_webplat{background-position:100% top;}
	.content_writing_top_banner_predev{background-position:100% top;}
	.content_writing_top_banner_webplat{background-position:280% top;}
	.content_writing_top_banner_cuseng{background-position:100% top;}
	.content_writing_top_banner_busmodl{background-position:246% top;}
	
	.mobilesec{margin: 0 auto; max-width: 100%;}
	.menudiv .probutton {position:inherit; margin-top: 4px; margin-bottom:4px;margin-right: 3%;}
	#pagesection {padding: 20px 0 30px 0px;}
	.longevitycontent2, .presencecontent, .longevitycontent, .identitycontent, .strategycontent, .revenuecontent {background-color: rgba(255, 255, 255, 0.7); margin: 0; padding: 10px;  width: 100%;margin: 6px 0;}
	.mainbutton {width: 340px; margin: 0 auto;}
	.hourcritical .btnright p {max-width: 96%;}

}



.visionback{background-image:none; background-color:#fff;}









@media(max-width:1260px){

.textblock8{ background:url(../images/bottommanner.png) no-repeat left top; background-size:1260px;  height:350px;}



.textblock8 .bottomtextblock p {

    margin-left: 276px;

}

.textblock8 .bottomtextblock h4 {

    font-size: 20px;

    margin-left: 160px;

}

.textblock8 .bottomlink img { margin-left:70px;}



.prod-detbackleft img, .prod-detbackright img{width:80%;}
.shoptabdiv ul li {margin: 0 2px 3px;}


	.content_writing_top_banner_cont{background-position:100% top;}
	.content_writing_top_banner_dsgn{background-position:100% top;}
	.content_writing_top_banner_corecomp{background-position:100% top;}
	.content_writing_top_banner_webplat{background-position:100% top;}
	.content_writing_top_banner_predev{background-position:100% top;}
	.content_writing_top_banner_webplat{background-position:280% top;}
	.content_writing_top_banner_cuseng{background-position:100% top;}
	.content_writing_top_banner_busmodl{background-position:353% top;}
	.mainbutton {width: 280px;}
	.hourcritical .btnright p {max-width: 96%;}
	.homepoint p, .WebPresence p {max-width: 270px;}
	
}











@media(max-width:1200px){

.textblock8{ background-image:none; background-color:#dfedf2; clear:both; height:auto;}

	.bottommanner2{ display:block; margin:0 auto; max-width:100%;}

	

	.bus_man{ display:block; margin:0 auto; max-width:100%;}

	.textblock8 .bottomtextblock{ margin:0; text-align:center; width:100%;}

	.textblock8 .bottomtextblock h4{ width:100%; margin:0; padding:25px 0; text-align:center; font-size:34px; color:#313131; font-size:24px; font-family:'OpenSans-Bold';}

	.textblock8 .bottomtextblock h5{ color:#ff4b28; font-family:'OpenSans-Bold'; font-size:55px; text-transform:uppercase; margin:0; width:100%; }

	

	.textblock8 .bottomtextblock p{ width:360px; display:block; text-align:center; font-size:14px; color:#161616; font-family: "open_sansregular"; margin:20px auto;}

	

	 .textblock8  .bottomlink{ display:inline-block; margin:10px auto; margin-bottom:20px;}

  .textblock8  .bottomlink img{ margin:0; display:block; float:left; width:auto;}

 

  .textblock8  .bottomlink .portfolio_link2{background: #02a0db; color: #fff;

   

    font-family: "open_sansregular";  letter-spacing: 2px;

    line-height: 59px;  text-align: center;

    text-transform: uppercase; width:170px; display:block; margin:0px 0 0 0; float:left;}

	

	.addcontract{width:50%; margin:20px auto;}

    #visiblepresencecalibration .col-md-4, #visiblepresencecalibration .col-md-6{width:100%}
	
	
	.content_writing_top_banner_cont{background-position:100% top;}
	.content_writing_top_banner_dsgn{background-position:100% top;}
	.content_writing_top_banner_corecomp{background-position:100% top;}
	.content_writing_top_banner_webplat{background-position:100% top;}
	.content_writing_top_banner_predev{background-position:100% top;}
	.content_writing_top_banner_webplat{background-position:280% top;}
	.content_writing_top_banner_cuseng{background-position:100% top;}
	.content_writing_top_banner_busmodl{background-position:100% top;}

    .consultent h2 {font-size: 29px !important;}



}




 


@media(max-width:1199px){



.bus_woman{ width:auto; float:none; margin:0 auto; max-width:100%; border-bottom:solid 2px #dededf; padding:0 10%; display:block; margin-bottom: 35px;}



.block4text{ width:100%; margin:0 auto; margin-right:0px; text-align:center; padding-bottom:40px;}

.devider5{ margin:26px auto;}



.textblock4 p{ width:100%;}



.block4text p{ text-align:center; margin:30px auto;}



.about_link{ display:block; margin:0 auto; margin-top:40px;}

.text5logodiv{ width:100%;}

.text5logodiv span{ display:none;}



.text5logodiv .logoimg1{ display:block; float:none; margin:0 auto; margin-bottom:20px; max-width:100%;}

.text5logodiv .logoimg2{ display:block; float:none; margin:0 auto;  max-width:100%;}



.textblock7 .servicesblock1{height:284px; margin:0.5%!important; width:49%}



.textblock7 .servicesblock2{height:284px;margin:0.5%!important; width:49%}



.textblock7 .servicesblock3{height:284px; margin:0.5%!important; width:49%}



.textblock7 .servicesblock4{height:284px; margin:0.5%!important; width:49%}



.textblock7 .servicesblock5{height:284px;margin:0.5%!important; width:49%}



.textblock7 .servicesblock6{height:284px; margin:0.5%!important; width:49%}

.footerblock{ text-align:center;}

	.footerblock .startlink{ float:none; margin:0 auto; margin-top:20px;}

	

	

	

	.homeformblock .form-group{ width:45%; float:left; margin:0 5% 30px 0;}

	

	

	.tabcontain{ width:800px; float:right; padding:40px;}

	

	.homesubbtn{ margin-right:50px;}

	

	.prod-blockleft, .prod-blockright{float:none; width:100%;}

	.prod-blockright img{display:block; margin:0 auto;}

	.prod-blockright p{text-align:center;}

	.butdivleft{float:none;}

	.butdivright{float:none; display:block;}

	.butdivleft-left, .butdivleft-right{float:none; margin:10px auto; width:30%;}

	.butdivright{text-align:center;}

    #targetaudience .targetaudiencerowtwo img{width:100%; margin:0px; height:auto; margin:10px 0px;}
    .visiblepresencecontent{padding:0px 10px;}
    #targetaudience .targetaudiencerowone{min-height:89px;}
    #visiblepresencecalibration{padding:20px 10px;}

    #specialities .col-md-6{width:100%;}
	.content_writing_bannertext p {padding-left: 50px;}
	.content_writing_bannertext h3 {font-size: 54px; padding-top: 13px;}
	.content_writing_bannertext h2 { font-size: 42px;}
	.specialities-icon p { max-width: 670px; text-align: left; padding-top:10px}
	.orange-round p {font-size: 22px;}
		
	.content_writing_top_banner_cont{}
	.content_writing_top_banner_dsgn{background:none; height:auto;}
	.content_writing_top_banner_corecomp{}
	.content_writing_top_banner_webplat{}
	.content_writing_top_banner_predev{}
	.content_writing_top_banner_webplat {background-position: 280% top;}
	.content_writing_top_banner_cuseng {background-position: -700% top;}
	.content_writing_top_banner_busmodl{background-position: -550% top;height: 398px;}
	
	.content_writing_top_banner_dsgn .col-lg-7, 
	.content_writing_top_banner_dsgn .col-md-7 {width: 54%;}
	.content_writing_top_banner_dsgn .col-lg-3, 
	.content_writing_top_banner_dsgn .col-md-3 {width: 41.6667%;}
	
	.content_writing_top_banner_design {height: auto; margin: 0;}	
	
	.content_writing_top_banner_corecomp .content_writing_bannertext h2 {font-size: 65px;}
	.content_writing_top_banner_corecomp .content_writing_bannertext h3 {font-size: 40px; padding-top: 26px;}
	.content_writing_top_banner_corecomp .divider-inner-blue{margin-left: 9%;}
	.mobilesec{margin: 0 auto; max-width: 88%;}
	.identitycontent p { max-width: 71%; margin: 0 auto; display:block;}
	.strategycontent h3, .strategycontent p{ max-width: 71%; margin: 0 auto; display:block;}
	.holisticmang h2, .consultent h2 {margin-top: 25px;}
	.homepoint p, .WebPresence p {max-width: 100%;}
	.imgdetailright {text-align: center;padding:10px 0px 20px 0px;}
	.btnright{text-align:center;padding:10px 0px 20px 0px;}
    .holisticmang h2, .consultent h2, .holisticmang h2, .consultent h2, .homepointdetails h3 {line-height: auto;}
}


@media(max-width:1024px){
	.content_writing_top_banner_cont{}
	.content_writing_top_banner_dsgn{}
	.content_writing_top_banner_corecomp{}
	.content_writing_top_banner_webplat{}
	.content_writing_top_banner_predev{}
	.content_writing_top_banner_webplat {background-position: -270% top;}
	.content_writing_top_banner_cuseng {background-position: -450% top;}
	.content_writing_top_banner_busmodl{background-position:-90% top;}
	.content_writing_top_banner_corecomp .content_writing_bannertext h2 {font-size: 50px;}
	.content_writing_top_banner_corecomp .content_writing_bannertext h3 {font-size: 38px; padding-top: 45px;}
	.content_writing_top_banner_corecomp .divider-inner-blue{margin-left: 10%;}
	.content_writing_bannertext h3 {font-size:38px; padding-top: 52px;}
	#multilongiimage {
    background: none;
    background-color: #d6d6d6;
    height: auto;
}
#multilongiimage .headertop .gradientoverlay{width:100%; float:left; background: -webkit-linear-gradient(351deg, rgba(0, 0, 0, 0.59) 0%, rgba(7, 7, 7, 0.69) 100%);
background: -o-linear-gradient(351deg, rgba(0, 0, 0, 0.59) 0%, rgba(7, 7, 7, 0.69) 100%);
background: -ms-linear-gradient(351deg, rgba(0, 0, 0, 0.59) 0%, rgba(7, 7, 7, 0.69) 100%);
background: -moz-linear-gradient(351deg, rgba(0, 0, 0, 0.59) 0%, rgba(7, 7, 7, 0.69) 100%);
background: linear-gradient(99deg, rgba(0, 0, 0, 0.59) 0%, rgba(7, 7, 7, 0.69) 100%);
margin: 20px 0px;}
}








@media(max-width:991px){

.professionals_textwrapper{ width:100%;}



.textblock3{ background-image:none; padding-top:40px;}



.professionals_textwrapper  h4{ font-size:28px; line-height:36px;}



.professionals_textwrapper .block1{ width:100%; background-position: center top; font-size:18px; color:#1b1b1b; line-height:32px;   float:left; padding:126px 0 0 0; text-align:center; min-height:inherit; margin-bottom:28px;}

.professionals_textwrapper .block2{ width:100%; background-position: center top; font-size:18px; color:#1b1b1b; line-height:32px;   float:left; padding:126px 0 0 0; text-align:center; min-height:inherit; margin-bottom:28px;}

.professionals_textwrapper .block3{ width:100%; background-position: center top; font-size:18px; color:#1b1b1b; line-height:32px;   float:left; padding:126px 0 0 0; text-align:center; min-height:inherit; margin-bottom:28px;}

.professionals_textwrapper .block4{ width:100%; background-position: center top; font-size:18px; color:#1b1b1b; line-height:32px;   float:left; padding:126px 0 0 0; text-align:center; min-height:inherit; margin-bottom:28px;}

.professionals_textwrapper .block5{ width:100%; background-position: center top; font-size:18px; color:#1b1b1b; line-height:32px;  float:left; padding:126px 0 0 0; text-align:center; min-height:inherit; margin-bottom:28px;}

.professionals_textwrapper .block6{ width:100%; background-position: center top; font-size:18px; color:#1b1b1b; line-height:32px;   float:left; padding:126px 0 0 0; text-align:center; min-height:inherit; margin-bottom:28px;}



.textblock2 h2{ text-align:center; padding:38px 2px 0 2px;}

.textblock2 .portfolio_link{ position:inherit; right:0; top:0; display:block; margin:25px auto; border-radius:2px;}





.textblock7 .servicesblock1{height:auto; margin:0.5% 0px!important; width:100%}



.textblock7 .servicesblock2{height:auto; margin:0.5% 0px!important; width:100%}



.textblock7 .servicesblock3{height:auto; margin:0.5% 0px!important; width:100%}



.textblock7 .servicesblock4{height:auto; margin:0.5% 0px!important; width:100%}



.textblock7 .servicesblock5{height:auto; margin:0.5% 0px!important; width:100%}



.textblock7 .servicesblock6{height:auto; margin:0.5% 0px!important; width:100%}



.homeformblock .codegroup{ width:100%;}





	.tabcontain{ width:100%; float:none; padding:0; margin-top:40px;}

	.tabmenu{ width:100%; float:none;}

	

	.tabmenu ul li{ margin:0;   display:block; width:20%; padding:0; font-size:15px; color:#ffffff; text-align:center;  font-family:'OpenSans-Bold';  border-right:solid 1px #e4e4e4;}



.tabmenu ul li a{ display:block; width:100%; color:#fff;  padding:10px 0; background:none; line-height:40px;  background:#333333; border:none; border-radius:0px; } 



	.homesubbtn{ float:none; margin:0;}

	.prod-blockright img{margin:10px auto;}

	

	.webback-left img{display:block; margin:10px auto; width:80%;}

	.prod-detbackleft img, .prod-detbackright img{width:90%;}
	
	.modal-body h2{line-height:23px !important;}
    .prod-detbackleft img, .prod-detbackright img{width:90%;}
/*
    .content_writing_top_banner {
        background: rgba(0, 0, 0, 0) url("../images/content-writing_img1-s2.png") no-repeat scroll 80% top / cover ;
        margin: 0;
        min-height: auto;
    }
    .content_writing_top_banner_1 {
        background: rgba(0, 0, 0, 0) url("../images/content-writing_img2-s2.jpg") no-repeat scroll 80% top / cover ;
        margin: 0;
        min-height: auto;
    }
*/	

	
	
    #visiblepresencecalibration .col-md-4, #visiblepresencecalibration .col-md-6 {margin: 43px 0; padding: 0;}	
	#targetaudience .targetaudiencerowone {max-width: 83%;min-height: 119px;}
	
	.content_writing_bannertext h2{font-size:62px;}
	.content_writing_bannertext h3{font-size:38px; padding-top: 23px;}
	
	.orange-round{background:transparent;}
	.targetaudience .orange-roundright{background-color:#ff7c01;}
	.orange-roundleft img{max-width:100%; padding:0; margin:0px;}
	.orange-roundright {padding: 0;}
	.orange-roundright p{background-color:#ff7c01; width:100%;padding: 5px;}
	.orange-roundright p.blacktext{background-color:transparent;}
	.specialities-icon p {max-width: 571px;}
	.businessmodelback-left h3 {
    font-size: 40px;
	}
	
	.orangebarthin {
		background: rgba(0, 0, 0, 0) url("../images/orangebarthin-arrow-middle.png") no-repeat scroll center top;
		width: 100%;
	}
		.orangebarthintext {
			font-size: 200%;
		}
		.orangebarthintext {
		font-size: 233%;
	}
	.orangebarthintext {
		padding: 26px 0 20px;
	}
	
	.shoptabdiv ul li {
    display: inline-block;
    float: none;
    width: 32%;
}


.content_writing_top_banner, .content_writing_top_banner_design, .content_writing_top_banner_3, .content_writing_top_banner_grd{height:auto; }
.content_writing_top_banner_dsgn .col-lg-7 {width: 100%;}
.content_writing_top_banner_dsgn .col-lg-3, 
.content_writing_top_banner_dsgn .col-md-3 {margin: 0 auto; width: 98%;}
.content_writing_top_banner_dsgn .bannertxt {padding-top: 0px;}


.content_writing_top_banner_cont, .content_writing_top_banner_dsgn, .content_writing_top_banner_corecomp,
.content_writing_top_banner_webplat, .content_writing_top_banner_predev, .content_writing_top_banner_webplat,
.content_writing_top_banner_cuseng, .content_writing_top_banner_busmodl{background:none; height:auto;}

.textblock3 h2 {line-height: normal;}

.content_writing_top_banner_corecomp .content_writing_bannertext h2 {font-size: 61px;}
.content_writing_top_banner_corecomp .content_writing_bannertext h3 {font-size: 45px; padding-top: 12px;}
.content_writing_top_banner_corecomp .divider-inner-blue{margin-left: 7%;}

.mobilesec{margin: 0 auto; max-width: 564px;}
.consultent {height: auto;}

.homepoint p, .WebPresence p { max-width: 100%;}
.mainbutton .btnadd {width: 80%;}
}



@media(max-width:767px){

.bannercontain .carousel-indicators{ width:100%; left:0; text-align:center; margin:0;}


.textblock1 .container{ width:100%; margin:0 auto;}

.textblock1 p{ font-size:30px; padding:0 10px; line-height:34px;}

.prod-blockright img{width:70%;}

.webback-right img{display:block; width:90%;}

.homeformblock2{padding:10px 0 0 0;}

.homeformblock2 img{margin:0px auto;}


.container{width:96% !important; margin:0 auto !important; text-align:center;}

    .visiblepresencecontent h3{font-size:180%;}
    .visiblepresencecontent h2{font-size:250%;}
    .visiblepresencedevelopmentright{display:none;}
    .modal-body h2{font-size:20px; line-height:22px;}
	
	
	.divider-inner-blue { margin: 0 auto; max-width: 26px;}
	.orange-round{background:transparent;}
	.targetaudience .orange-roundright{background-color:#ff7c01;}
	.orange-roundleft img{max-width:100%; padding:0; margin:0px;}
	.orange-roundright {padding: 0;}
	.orange-roundright p{background-color:#ff7c01; width:100%;padding: 5px;text-align: center; font-size:130%;}
	.blacktext{ font-size:130%;}
	.orange-roundright p.blacktext{background-color:transparent;text-align: center;}
	#visiblepresencecalibration {text-align: center;}
	.visiblepresencecontent hr {margin: 15px auto; max-width: 65px;}
	
	.specialities-icon p {
		margin-top: 5px;
	}
	.specialities-icon p {
    max-width: 500px;
    text-align: left;
}
.businessmodelback-left ul li {
    font-size: 16px;
    line-height: 21px;
    margin: 0 0 4px;
}
.orangebarthin h2 {   
    width: 100%;
}
 .container div img {
    max-width: 100%;
}
.orangebarthintext {
    padding: 10px 0 20px;
}

.orangebarthintext-bot p {text-align:center;}
.orangebarthintext-bot h3 {
    font-size: 194%;
}
*img{max-width:100%;}
.shoptabdiv ul li {
    width: 100%;
}
.shoptabdiv ul li {
    display: inline-block;
    float: none;
    width: 48%;
}

/*
.content_writing_top_banner{background:url(../images/content-writing_img.jpg) no-repeat left center; height:auto; background-size:cover; margin:0;}
.content_writing_top_banner_design{background:url(../images/content-writing_img2.jpg) no-repeat left center; height:auto; background-size:cover; margin:0;}
.content_writing_top_banner_grd{background:url(../images/img-webplatform_grd.png) no-repeat left center; height:auto; background-size:cover; margin:0;}
.content_writing_top_banner_3{background:url(../images/content-writing_img3.jpg) no-repeat left center; height:auto; background-size:cover; margin:0;}
*/
.content_writing_bannertext{background:transparent; padding: 20px; text-align:center;}
.pd-banner {padding: 0;}

	.content_writing_bannertext h4 {font-size: 38px; padding:0px;padding-top: 5px; padding-bottom: 5px;}
	.content_writing_bannertext h3{font-size: 24px; padding:0px;padding-top: 5px; padding-bottom: 5px;}
	.content_writing_bannertext p{padding:0px;padding-top: 5px; padding-bottom: 5px;}
	
	.content_writing_bannertext p {margin:0 auto;}
	.content_writing_bannertext{background:transparent; padding: 20px; text-align:center;}
	
	
	
	.revenue {background: transparent;}	
	.longevitycontent2, .presencecontent, .longevitycontent, .identitycontent, .strategycontent, .revenuecontent {background-color: transparent; margin: 0; padding: 10px;  width: 100%;}
	.longevity2{background-color: #e4e9eb;}
	.revenuecontent h3, .revenuecontent p, .presencecontent p{text-align:center;}
	.dividerinner-small3 {margin: 0 auto; max-width: 24px;}
	.logodiv .logoblock {padding-left: 0px;}
	.maxwidth{margin: 0px auto; max-width: 564px;}
	.specialities-icon p { max-width: 430px; text-align: left; padding-top:10px}
	.content_writing_top_banner_corecomp .content_writing_bannertext h2 {font-size: 38px; padding-top: 5px; padding-bottom: 5px;}
	.content_writing_top_banner_corecomp .content_writing_bannertext h3 {font-size: 24px; padding-top: 5px; padding-bottom: 5px;}
	.content_writing_top_banner_corecomp .divider-inner-blue{margin: 0 auto;}

	.content_writing_top_banner, .content_writing_top_banner_design, 
	.content_writing_top_banner_3, .content_writing_top_banner_grd{padding:10px 0px;}
	.orange-roundleft {margin: 25px 0 0 0;}
	.content_writing_top_banner_dsgn .bannertxt, .bannertxt {padding-top: 0px; max-width: 96%;margin: 0 auto;}
	.orange-roundleft {margin: 25px 0 0 0;}
	.textblock5 h2 {font-size: 38px;}
	.hometabblock h2 {font-size: 38px;}
	#multiRevenueimage, #multilongevityimage, #multiPresenceimage{background-color:#fff;background:none;}
	#multiIdentityimage, #multiStrategyimage{background:url(../images/img-gradient.jpg) repeat-x bottom;}
	.customengmaindiv .prod-blockright {width: 100%; overflow: hidden;}
	.customengmainleftdiv {margin-top: 40px;}
	.formdiv .contactform, .formdiv .contactform textarea {margin-bottom: 0px; width: 100%; display: inline-block;}
	.sub {margin: 32px 0 32px 0;}
	.tabtextcontain p {padding:0px;text-align: center;}
	.singletabimg {margin-left: 0px;}
	.homeformblock2 figure {min-width: 100%;}
	.formdiv .contactform input[type="text"], .formdiv .contactform input[type="email"], .formdiv .contactform textarea, .formdiv input[type="submit"] {width: 100% !important;}
	 .mainbgtxt {max-width:100%;}
	 .consultent {height: auto;}
	 
	 .consultent{text-align:center;}
	.holisticmang, .consultent, .homepoint, .WebPresence {padding-top: 30px; padding-bottom: 30px;}
	.consultentcenter img {margin-top: 10px;}
	.double li {width: 100%;}
	.homepointdetails {padding: 5px !important;text-align: center;}
	.mainbutton .btnadd {width: 100%;}
	#hourcritical .btnright{text-align:center;}
	.hourcritical .btnright p {margin-left: auto; margin-right: auto;}
	.homepoint p, .WebPresence p {max-width: 100%; margin-left: auto; margin-right: auto;}
	.homepoint{text-align:center;}
	.mainbutton {max-width: 100%;  margin-left: auto;  margin-right: auto;}
	.homepoint p, .WebPresence p {padding-bottom: 25px;}
	.homepointdetails .imgdetailright{margin: 25px auto !important;}
	.consultationdetail {margin-left:0px;}
	.hourcritical .hourcriticallcenter{text-align:center;}
	.hourcriticalleft {margin-bottom: 30px; margin-right:0px;}
	.hourcritical .btnright{margin-top:30px;}
	.hourcritical {text-align: center;}
	#hourcritical .btnright .btnadd, #businessmodel .btnright .btnadd {width: 304px; font-size: 60px; margin: 0 auto;font-size: 60px;}
	#consultent .custom-header-top .orangebarthintext, #hourcritical .custom-header-top .orangebarthintext, #businessmodel .custom-header-top .orangebarthintext {font-size: 26px;}
	.hourcriticallcenter {margin-right:0px;}
	
	
	.corecompright h2::after {margin-left: -29px; left: 50%; top: 40px;}
	.corecomp .corecompleft {margin-right: 0px;}
	#multilongiimage{height:auto;}
	#multiPresenceimage{background-color:#d6d6d6;}
	#emailpopup .thanksbg h2, #signpopup .thanksbg h2 {font-size: 24px;}
	#identity .corecompleft img{margin-bottom:25px;}
	.corecompright h2::after, #multiPresenceimage .corecompright h2::after {
    content: "";
    width: 58px;
    height: 2px;
    background-color: #ff7c01;
    position: absolute;
    margin-left: -29px;
    left: 50%;
    top: 40px;
}
    .hourcritical .btnright p{width:100%;}
    .specialities-top h1{line-height: normal;}
}




/*@media(max-width:767px){
	.modal-body h2{font-size:20px; line-height:22px;}

}*/



@media(max-width:683px){
    .businessmodelback-left h3{font-size:27px;}
    .businessmodelback-left h2{font-size:40px;}
	
    /*--KOUSHIK--2016-04-18)--*/
    .content_writing_bannertext h2{font-size: 38px;}
    .content_writing_bannertext h3{font-size: 30px;}
	.maxwidth{margin: 0px auto; max-width: 564px;}
}

@media screen (min-width:565px) and (max-width:639px){
	.maxwidth{margin: 0px auto; max-width: 564px;}
}



@media(max-width:560px){



.textblock3 h2{ font-size:40px;}

 .textblock8  .bottomlink img{ margin:0 auto; display:block; float:none; width:auto;}

  .textblock8  .bottomlink .portfolio_link2{ float:none; margin:0 auto; width:295px;}  

  	.homeformblock .form-group{ width:100%; float:none; margin:0 0 30px 0;}

	

	.homeformblock .form-group label{ display:block; margin-bottom:20px;}

	

	.homeformblock .codegroup img{ margin:0 5px 0 0;}

	

	.tabmenu ul li{ width:100%; font-size:15px;}

	.butdivleft-left, .butdivleft-right{font-size:14px;}
	.modal-body a{width:auto !important;}
	.modal-body a img{width:80%; display:block; margin:0 auto;}
	.modal-body h2{font-size:18px;}
	.mobilesec{margin: 0 auto; max-width: 272px;}
}



@media(max-width:450px){

.butdivleft-left, .butdivleft-right{font-size:12px;}

.blockcore h2{font-size:35px;}

.orangebar h2{font-size:40px;}

 .content_writing_bannertext h4{font-size:20px;}
 .content_writing_bannertext h2{font-size:30px;}
 .content_writing_bannertext h3{font-size:24px;}
.maxwidth{margin: 0px auto; max-width: 272px;}
}







@media(max-width:400px){



.textblock3 h2{ font-size:32px;}

.textblock4 h2{ font-size:42px;}



 .textblock8  .bottomlink img{ margin:0 auto; display:block; float:none; width:250px;}

 

  .textblock8  .bottomlink .portfolio_link2{ float:none; margin:0 auto; width:250px;}

  .textblock8 .bottomtextblock h5{ font-size:42px;}

  

  .textblock8 .bottomtextblock p{ width:260px;}





.homeformblock .form-group .form-control2 { width:120px;}

.butdivleft-left, .butdivleft-right{width:100%;}
.maxwidth{margin: 0px auto; max-width: 272px;}


}



@media(max-width:371px){

	.homeformblock{font-size:40px;}
	.homeformblock2 figure, .homeformblock2 figure img {width: 294px;}
    #hourcritical .btnright .btnadd, #businessmodel .btnright .btnadd { width: 100%;  margin-left:auto; margin-right: auto;  font-size: 40px; }

}

@media screen and (max-width:640px){
    .specialities-top h1{font-size:280%;}
    .specialities-content .specialities-icon{max-width:80%; margin:0 auto;}
    .specialities-content .specialities-icon img{height:auto;}
    .designfeaturecontent{margin:0; margin-top:20px;}
	#strategicMarketing h1, #needitcustomer h1 { font-size: 42px;}
    .contractform .formdiv { margin: 20px 0 0; width:100%;}
	#specialities {margin: 15px 0;}
	.specialities-top h1{margin-bottom: 15px;}
	.specialities-icon img {float:none;}
	.specialities-content .specialities-icon {text-align: center;}	
	#needitcustomer h1 {font-size: 28px;}	
	.specialities-icon p {margin-top: 5px;text-align: center;}
	.maxwidth{margin: 0px auto; max-width: 564px;}
	
	.content_writing_top_banner_dsgn p .bannertxt {margin: 0 10px 10px;}
	.content_writing_top_banner_dsgn .content_writing_bannertext h3 {font-size: 24px;padding-top: 3px;}
	.content_writing_top_banner_dsgn .content_writing_bannertext h2 {font-size: 32px;}
	.mobilesec{margin: 0 auto; max-width: 564px;}
	.login-box-body img{display:block; margin:0 auto; float:none;}
	.login-box-body p{display:block; margin:0 auto; float:none;}
	.login-box-body p{font-size:16px;}
	.login-box-msg {padding: 0 0px 20px 0px; text-align:center;}
	.login-box-body{padding: 24px;}
	.butdivright1{margin: 10px 0 0 0;}
	.formdiv input[type="text"], .formdiv input[type="email"], .formdiv textarea {width: 100%;}
	.modal-body .modal-body-inner .checkbox label {display: block;float: left;padding: 4px;}
	.prolabel {line-height: 18px !important;}
	.modal-body .modal-body-inner {width: 96%;}
	#valuedriven .text-right{text-align:center;}	
	
}


@media screen and (max-width:480px){

	.targetaudiencerowone p {
    	font-size: 12px;
	}
	#targetaudience .targetaudiencerowtwo p {
    	font-size: 16px;
	}
	
	.specialities-icon p {
		margin-top: 5px;
	}
	.orangebarthin {
    background: rgba(0, 0, 0, 0) url("../images/orangebarthin-arrow-middle.png") no-repeat scroll center top;
    width: 100%;
}
	.orangebarthintext {
		font-size: 200%;
	}
	.shoptabdiv ul li {
    display: inline-block;
    float: none;
    width: 100%;
}
.longevitytext, .presencetext, .strategytext, .revenuetext, .identitytext {font-size: 50px;padding: 15px 0 20px;}		
.maxwidth{margin: 0px auto; max-width: 280px;}	
.hometabblock h2 {font-size: 42px;}	
.mobilesec{margin: 0 auto; max-width: 272px;}
.login-box-msg {font-size:20px;}
	.textblock5 h2 {font-size: 36px;}
	.hometabblock h2 {font-size: 36px;}
	.address ul {
    display: inline-block;
    text-align: center;
	padding-left: 0px;
}

.formsec{width:100% !important; display:block; float:left;}
.corecompheaderright img{display:none;}
#multilongiimage {
    background: none;
    background-color: #d6d6d6;
    height: auto;
}
#multilongiimage .headertop .gradientoverlay{width:100%; float:left; background: -webkit-linear-gradient(351deg, rgba(0, 0, 0, 0.59) 0%, rgba(7, 7, 7, 0.69) 100%);
background: -o-linear-gradient(351deg, rgba(0, 0, 0, 0.59) 0%, rgba(7, 7, 7, 0.69) 100%);
background: -ms-linear-gradient(351deg, rgba(0, 0, 0, 0.59) 0%, rgba(7, 7, 7, 0.69) 100%);
background: -moz-linear-gradient(351deg, rgba(0, 0, 0, 0.59) 0%, rgba(7, 7, 7, 0.69) 100%);
background: linear-gradient(99deg, rgba(0, 0, 0, 0.59) 0%, rgba(7, 7, 7, 0.69) 100%);
margin: 20px 0px;}

.singlemainbg {
    width: 100%;
    margin: 0 auto;
}
#revenue .corecomp .corecompleft {
    margin-left: 0px;
}
.homeformblock2 .formdiv {padding-left: 0px; padding-right: 0px;}
#multilongiimage p {padding-right: 0px;}
#revenue .corecomp .corecompleft {
	margin-top:10px;
}
}

@media screen and (max-width:320px){
.orangebarthintext-bot h3 {font-size: 160%;}
.orangebarthintext-bot h3 {line-height: 30px;}

.content_writing_bannertext h2 {font-size: 26px;}
.maxwidth{margin: 0px auto; max-width: 272px;}
.homeformblock2 figure, .homeformblock2 figure img {width: 294px;}



}

@media print
   {
      .printclass {visibility:hidden;}
   }