<!--<div class="container-fluid">
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blockcore">
            <h2>BUSINESS <span>MODELING</span></h2>
            <div class="container">
                <p>Maecenas vitae nunc eget quam pellentesque cursus eget et lacus. Vestibulum sollicitudin nisi nec pulvinar venenatis. Vivamus ornare, urna eget pulvinar eleifend, nibh lorem elementum mauris, in semper lectus elit ut ex.</p>
            </div>
            <div class="divider-inner"></div>

        </div>
    </div>
</div>
<!--bannercontain end -->


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bannercontain">
            <img src="images/Consulting.jpg">
            <!--<h2>WEB <span>DESIGN</span></h2>
            <div class="container">
                <p>Maecenas vitae nunc eget quam pellentesque cursus eget et lacus. Vestibulum sollicitudin nisi nec pulvinar venenatis. Vivamus ornare, urna eget pulvinar eleifend, nibh lorem elementum mauris, in semper lectus elit ut ex.</p>
            </div>
            <div class="divider-inner"></div>-->

        </div>
    </div>
</div>

<div class="container-fluid ng-scope" id="consultent">
    <div class="row">
         <div class="custom-header-top">    
            <h2 class="orangebarthintext">Holistic Management Consulting</h2>
         </div>       
    </div>
</div>

<div class="container-fluid">
	<div class="holisticmang">
        <div class="row">
        	<div class="container">
            	<div class="row">
                     <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 text-center">
                          <img src="images/img-holisticonsulting.jpg">
                     </div>  
                           
                     <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                          <h2>Dynamic Business Modeling On Overdrive</h2>
<p>We take pride in our holistic management consulting processes which aligns with the needs of clients. We provide agile performance based information aligned with our core competencies,which is fully detailed HERE. With over 15+ years of expertise and specialized, in-depth research, we optimize our client?s operational performance through impactful discussions and launch plans. We deliver 
immediate and long-term solutions through our holistic, interactive processes, empowering our clients with the maximum knowledge to increase profits and operate to max potential.</p>
                     </div> 
                  </div>
             </div>   
        </div>
    </div>
    <div class="brdbottom"></div>
</div>

<div class="container-fluid">
	<div class="consultent">
		<div class="row">
			<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
				<div class="consultentleft">
					<h2>Web Development Consulting</h2>
					<p>Our Web Development Consulting Services are used by businesses interested in extra-ordinary, engaging, and user-friendly web presence development, branding and website creation to maximize ROIs. With creativity and technological expertise as our foundation, we will help our clients stay ahead of their competitors. When clients choose from any of our web development packages  &#45; they get value-driven consulting at no additional costs.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
				<div class="consultentcenter">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
							<img src="images/img-webdevelopment.jpg">
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
							<img src="images/img-professionaledge.jpg">
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
				<div class="consultentright">
					<h2>Professional Edge You Deserve</h2>
					<p>We absolutely love our web clients. As we tell everyone we don&#39;t just build websites we launch online business models and create presence for our clients. To do this successfully it requires a complete filtering through our core competences. Our absolute must is to bring our clients to their most actionable position possible.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="brdbottom"></div>
</div>

<div class="container-fluid">
	<div class="homepoint">
		<div class="row">
			<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
				<div class="mainbutton">
					<a class="btn btnadd" href="#">Home Point Valuation</a>	
				</div>
				<p>We provide every one of our web clients a fully developed home point valuation.  This completely separates us from any of the web companies you may be considering. This home point valuation is absolutely the most valuable part of our model. You are going to love what we do.</p>				
			</div>
			<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
				<div class="homepointdetails">
					<div class="row">
						<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
							<h3>Details Of the Home Point Valuation:</h3>
							<ul class="list-unstyled double pointval">
                                <li>Our home point valuation is based on taking your company&#39;s business model and scoring the web development plan against our core competencies</li>
								<li>We start off by doing a full onboarding interview with you to make sure that we have a clear understanding of your vision and the purpose of the new web.</li>
                                <li>We do a lot of research of what your competitors are currently doing and presenting locally and nationally to help you determine the best value proposition for your new web.</li>
                                <li>We then take and organize the home point valuation in an easy to understand written format and send you the proposed plan for review</li>
                                <li>We then take you through a full hour consolation to review, discuss and plan around the home point valuation. This is recorded and then made available for you to review anytime later. </li>
                            </ul>
						</div>
						<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
							<div class="imgdetailright">
								<img src="images/unt.jpg">
							</div>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="brdbottom"></div>
</div>


<div class="container-fluid">
	<div class="WebPresence">
		<div class="row">
			<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
				<div class="mainbutton">
					<a class="btn btnadd" href="#">New Web Presence Launch Plan</a>	
				</div>
				<p>Once we get your project well on its way to development, branding and going live we plan a full hour discussion based the launch.   On this call we bring all of the notes and discussions that we have had up to this point together so that we can work with you to plan your website launch. </p>				
			</div>
			<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
				<div class="homepointdetails">
					<div class="row">
						<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
							<div class="imgdetailright">
								<img src="images/img-rising-1.png">
							</div>							
						</div>
						<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
							<div class="consultationdetail">
								<h3>In This Consultation We Will Cover:</h3>
								<ul class="list-unstyled double pointval">
									<li>How to use your new web to market to the target audience you identify with</li>
									<li>Strategies of how to use your new web in the different social media applications, where you should target and why</li>
									<li>How you should announce the new web through free and if desired paid syndication to maximize new web launch exposure</li>
									<li>How to use the launch of the new web to make a larger impact locally</li>
									<li>How the new web will affect the way you are doing business now and ideas around how to make adjustments to best serve your new presence</li>
								</ul>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="brdbottom"></div>
</div>

<div class="container-fluid" id="hourcritical">
	<div class="custom-header-top">    
        <h2 class="orangebarthintext">5 Hour Critical Concepts | Roadmap Intensive Package</h2>
    </div> 
	<div class="hourcritical">
		<div class="row"> 
			<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
				<div class="hourcriticalleft">
					<p><img src="images/img-star.png">The 5 hour CCRI package is an extremely effective focused intensive that is absolutely worth the investment.  This is where a lot of our clients get started with us and it has made major changes for the way they run their businesses. As all of our intensive consulting packages the 5 hour CCRI is focused on the adaptation of our core competencies to your business model.  This is an incredible journey of discovery for most and an eye opener in so many ways.</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
				<div class="hourcriticallcenter">
					<h3>5 Hour Roadmap Intensive Consists Of:</h3>
					<ul class="list-unstyled pointval">
						<li>A one hour of discussion and review of the business model you currently have and what your overall goal are. In this call we get really involved with suggestions, information, ideas and really get a clear overview of the business.</li>                    
						<li>Then we spend two hours in-house developing a detailed agenda and management plan scored against our core competencies. This includes the production of the mission critical roadmap based on the detailed agenda.  This we get over to you for review before we get on our final discussion to talk about plan integration.</li>                    
						<li>We then get right to the action based model and help you really turn up the octane in our final one-hour full discussion. We fully review the details of the roadmap and brainstorm, action based discussion on immediate implementation.</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
				<div class="btnright text-center">
             		<a class="btn btnadd" href="#">$795</a>
                    <p>Interested In The Critical Concepts and Roadmap  extensive Package? Click HERE to get more info. </p>
                </div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid" id="businessmodel">
	<div class="custom-header-top">    
        <h2 class="orangebarthintext">40 Hour Business Modeling | Complete Vision Package</h2>
    </div> 
	<div class="hourcritical">
		<div class="row"> 
			<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
				<div class="hourcriticalleft">
					<p><img src="images/img-star.png"> The 40 hour BMCV package is the absolute best thing you can do for an enterprise that has several moving parts, national or international appeal and requires complex theory scripting. We start out with the same 5 hours intensive we offer in the CCRI.  Once this is completed we GO TO WORK. We work with you, creating content, training, theory, marketing plans, designing and branding if needed and propel you into the right position to get REVED UP AND MOVING.</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
				<div class="hourcriticallcenter">
					<h3>Processes That We Specialize In During The BMCV:</h3>
					<ul class="list-unstyled double pointval">
						<li>As many additional webinar, phone meetings as needed to make the sure the model is extremely focused and potent.</li>                    
						<li>A granular expansion of the concepts of our core competencies with divisional action plans on executing in sequential order the directives discovered and agreed to.</li>
						<li>Writing of business theory, business plan inserts, marketing plans and any other written policy and SOPs that allow you to super charge the discussed roadmap into action.</li>
						<li>Management planning, scalability and maximizing the efforts of each department as the expansion model is realized.</li>
                        <li>Compensation plan writing, distributor field theory and training programs if your business is dependent on sales reps or distributors.</li>
                        <li>Marketing brand development and marketing copy for whatever campaigns are needed to build an incredibly compelling message.</li>
                        <li>Full marketing plan development, resources development, services sourcing and professional introductions (we are extremely well connected).</li>
                        <li>Intensive product and services analysis, competitor research and re-envisioning of value proposition presentation.</li>
                        <li>At special request and coverage of air fare and hotel we will come to you and spend an full day intensive in your offices.</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
				<div class="btnright text-center">
             		<a class="btn btnadd" href="#">$4,995</a>
                    <p>Interested In The business modeling and complete vision package? Click HERE to get more info. </p>
                </div>
			</div>
		</div>
	</div>
</div>
