<!--content start-->

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bannercontain">
            <img src="images/cr.jpg">
            <!--<h2>WEB <span>DESIGN</span></h2>
            <div class="container">
                <p>Maecenas vitae nunc eget quam pellentesque cursus eget et lacus. Vestibulum sollicitudin nisi nec pulvinar venenatis. Vivamus ornare, urna eget pulvinar eleifend, nibh lorem elementum mauris, in semper lectus elit ut ex.</p>
            </div>
            <div class="divider-inner"></div>-->

        </div>
    </div>
</div>
<!--
<div class="container-fluid">
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blockcore">
            <h2>CONTENT <span>WRITING</span></h2>
            <div class="container">
                <p>Maecenas vitae nunc eget quam pellentesque cursus eget et lacus. Vestibulum sollicitudin nisi nec pulvinar venenatis. Vivamus ornare, urna eget pulvinar eleifend, nibh lorem elementum mauris, in semper lectus elit ut ex.</p>
            </div>
            <div class="divider-inner"></div>

        </div>
    </div>
</div>
&lt;!&ndash;content end &ndash;&gt;

&lt;!&ndash;bannercontain Start &ndash;&gt;
<div class="container-fluid">	
    	<div class="row">  
         	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content_writing_top_devider"></div>  	
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">   
                    <div class="content_writing_top_banner_3">  
                     	<div class="content_writing_top_banner_cont">
                            <div class="row">    
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                                    <div class="pd-banner">     
                                        <div class="content_writing_bannertext">
                                            <h4>Upgrade Your</h4>
                                            <h2>content writing</h2>
                                            <h3>TO THE NEXT LEVEL</h3>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                                            <div class="divider-inner-blue"></div>              
                                        </div>
                                    </div> 
                                </div>                                                                                                           
                            </div>
                       </div>
                    </div>
                </div> 
        	</div>
     	</div>
-->
</div>




<!--<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content_writing_top_devider"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="content_writing_top_banner">
                <div class="content_writing_bannertext">
                    <h4>Upgrade Your</h4>
                    <h2>content writing</h2>
                    <h3>TO THE NEXT LEVEL</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                    <div class="divider-inner-blue"></div>
                </div>
            </div>
        </div>

    </div>
</div>-->
<!--customeng first part Start -->
<div class="container-fluid">
    <div class="corecomp">
       <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div  class="container customengmaindiv">
                <div class="customengmainleftdiv">
                    <img alt="#" src="images/content_image.jpg" class="floatRightclear">
                    <p>Words drive traffic for websites and our content writing services provide web-ready content that&#39;s clear and effective for our client&#39;s targeted audience. Our high quality writers create original and well-researched content for engaging, compelling, affordable content.</p>
                    <p>We help our clients grow their business with relevant content that&#39;ll connect them with new customers &#45; this means bringing on only the highest quality creative content writers. Our clients get original, well-researched, and professional written content every time. Enticing and appealing new and old customers takes skills, dedication and capability and we have that and more! </p>
                    <p>Interested in well-versed content that&#39;s professional, accurate, and audience-driven? Choose from one of our stellar content development services below!</p>
                </div>

                <!-- <div class="prod-blockright customengmainrightdiv">

                     <div class="butdiv">
                         <div class="butdivleft">
                             <a href="#" class="butdivleft-right">ADD TO CONTRACT</a>
                         </div>
                     </div>
                </div>-->
                <div class="clearfix"></div>

            </div>
        </div>
       </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="greyline"></div>
        </div>
    </div>
</div>

<!--PagesSection Start -->
<div id="pagesection">
    <div class="container">
        <div class="row mobilesec">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 sectionone" ng-repeat="item in productlist  | limitTo:4">
                <div class="singlepagesection">
                    <div class="icon">
                        <img src="images/icon-page-1.png">
                    </div>
                    <div class="iconcontent">
                        <h3>{{item.product_name}}</h3>
                        <hr>
                        <h4>ONE TIME</h4>
                        <h2>${{item.selected_product.price}}</h2>
                        <a class="btn btnadd" href="javascript:void(0);" ng-click="pop_content(item)">Add a Contract</a>
                    </div>
                    <div class="iconcontentbottom">
                        <p>This covers the content needed for a basic website layout.  </p>
                    </div>
                </div>
            </div>
 <!--           <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 sectionone">
                <div class="singlepagesection">
                    <div class="icon">
                        <img src="images/icon-page-2.png">
                    </div>
                    <div class="iconcontent">
                        <h3>5-7 PAGES</h3>
                        <hr>
                        <h4>ONE TIME</h4>
                        <h2>$297.00</h2>
                        <a class="btn btnadd">Add a Contract</a>
                    </div>
                    <div class="iconcontentbottom">
                        <p>This covers the content needed for a basic website layout. - See more at:<br> <a href="http://influxiq.com/home/content.html#sthash.YiyGxHla.dpuf">http://influxiq.com/home/content.html#sthash.YiyGxHla.dpuf</a> </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 sectionone">
                <div class="singlepagesection">
                    <div class="icon">
                        <img src="images/icon-page-3.png">
                    </div>
                    <div class="iconcontent">
                        <h3>5-7 PAGES</h3>
                        <hr>
                        <h4>ONE TIME</h4>
                        <h2>$297.00</h2>
                        <a class="btn btnadd">Add a Contract</a>
                    </div>
                    <div class="iconcontentbottom">
                        <p>This covers the content needed for a basic website layout. - See more at:<br> <a href="http://influxiq.com/home/content.html#sthash.YiyGxHla.dpuf">http://influxiq.com/home/content.html#sthash.YiyGxHla.dpuf</a> </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 sectionone">
                <div class="singlepagesection">
                    <div class="icon">
                        <img src="images/icon-page-4.png">
                    </div>
                    <div class="iconcontent">
                        <h3>5-7 PAGES</h3>
                        <hr>
                        <h4>ONE TIME</h4>
                        <h2>$297.00</h2>
                        <a class="btn btnadd">Add a Contract</a>
                    </div>
                    <div class="iconcontentbottom">
                        <p>This covers the content needed for a basic website layout. - See more at:<br> <a href="http://influxiq.com/home/content.html#sthash.YiyGxHla.dpuf">http://influxiq.com/home/content.html#sthash.YiyGxHla.dpuf</a> </p>
                    </div>
                </div>
            </div>
-->            <!--    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                 <div class="singlepagesection sectiontwo">
                     <div class="icon">
                      <img src="images/icon-page-1.png">
                     </div>
                     <div class="iconcontent">
                      <h3>5-7 PAGES</h3>
                      <hr>
                      <h4>ONE TIME</h4>
                      <h2>$297.00</h2>
                      <a class="btn btnadd">Add a Contract</a>
                     </div>
                     <div class="iconcontentbottom">
                     <p>This covers the content needed for a basic website layout. - See more at:<br> <a href="http://influxiq.com/home/content.html#sthash.YiyGxHla.dpuf">http://influxiq.com/home/content.html#sthash.YiyGxHla.dpuf</a> </p>
                     </div>
                 </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                 <div class="singlepagesection sectionthree">
                     <div class="icon">
                      <img src="images/icon-page-1.png">
                     </div>
                     <div class="iconcontent">
                      <h3>5-7 PAGES</h3>
                      <hr>
                      <h4>ONE TIME</h4>
                      <h2>$297.00</h2>
                      <a class="btn btnadd">Add a Contract</a>
                     </div>
                     <div class="iconcontentbottom">
                     <p>This covers the content needed for a basic website layout. - See more at:<br> <a href="http://influxiq.com/home/content.html#sthash.YiyGxHla.dpuf">http://influxiq.com/home/content.html#sthash.YiyGxHla.dpuf</a> </p>
                     </div>
                 </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                 <div class="singlepagesection sectionfour">
                     <div class="icon">
                      <img src="images/icon-page-1.png">
                     </div>
                     <div class="iconcontent">
                      <h3>5-7 PAGES</h3>
                      <hr>
                      <h4>ONE TIME</h4>
                      <h2>$297.00</h2>
                      <a class="btn btnadd">Add a Contract</a>
                     </div>
                     <div class="iconcontentbottom">
                     <p>This covers the content needed for a basic website layout. - See more at:<br> <a href="http://influxiq.com/home/content.html#sthash.YiyGxHla.dpuf">http://influxiq.com/home/content.html#sthash.YiyGxHla.dpuf</a> </p>
                     </div>
                 </div>
                </div>-->
        </div>
    </div>
</div>
<!--End PagesSection-->

<!--contentdevelopmentservice Start -->
<div id="contentdevelopmentserv">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center developmentservtop">
                    <h3>Content Development Services</h3>
                    <div class="divider-inner"></div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Number Of Content Pages Made</th>
                            <th ng-repeat="item2 in productlist  | limitTo:4">{{item2.product_name}}</th>
                            <!--    <th>5-7 PAGES</th>
                                   <th>{{item2.product_name}}</th>

                                   <th>7-15 PAGES</th>
                                   <th>15-20 PAGES</th>
                                    <th>ADDITIONAL PAGES</th>
                    -->
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Competition Research</td>
                            <td><i class="fa fa-check-circle"></i></td>
                            <td><i class="fa fa-check-circle"></i></td>
                            <td><i class="fa fa-check-circle"></i></td>
                            <td><i class="fa fa-check-circle"></i></td>
                        </tr>
                        <tr>
                            <td>Reporting Generated Monthly</td>
                            <td><i class="fa fa-check-circle"></i></td>
                            <td><i class="fa fa-check-circle"></i></td>
                            <td><i class="fa fa-check-circle"></i></td>
                            <td><i class="fa  fa-check-circle"></i></td>
                        </tr>
                        <tr>
                            <td>Company Interview & Content Analysis</td>
                            <td><i class="fa fa-check-circle"></i></td>
                            <td><i class="fa fa-check-circle"></i></td>
                            <td><i class="fa fa-check-circle"></i></td>
                            <td><i class="fa fa-check-circle"></i></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="design.html">

    <div class="confirm_delpopup" id="design_content_confirm_delpopup" >
        <a ng-click="cancel()" class="shutter-close2 ng-scope closebtn1" href="javascript:void(0)"><img class="ab-close" src="images/popup-Close.png"> </a>
        <div class="clearfix"></div>
        <div class="confirm_delbtn ng-scope">
            <div class="modalorangebar_new" ng-hide="(platformid && contentid && designid && markettingid)">Select Your Next Service</div>
            <div class="modalorangebar_new_bdr" ng-hide="!(platformid && contentid && designid && markettingid)"></div>
            <div class="modal-body text-center">
                <span>{{selectstring}}</span>
                <span class="typeclass" ng-hide="(platformid && contentid && designid && markettingid)">{{type}}</span>
				<div class="modal-body-inner" ng-hide="(platformid && contentid && designid && markettingid)">
                <div class="checkbox checkclass" ng-repeat="item3 in categorylist" ng-hide="inarray1(item3.id)> -1">

                    <label class="prolabel" >
					    <img ng-show="item3.id==2" src="images/icon-webdesign.png" alt="web design">
					    <img ng-show="item3.id==3" src="images/icon-creativecontent.png" alt="creative content">
					    <img ng-show="item3.id==4" src="images/icon-presencedevelopment.png" alt="presence developement">
                        <input  ng-change="selectradio(item3.id)"  type="radio" value="{{item3.id}}"  name="dfgdf"  ng-model="selectedcat"
                        > <!--validator = "platformValidator() === true"
                                                       invalid-message = "platformValidator(form.platform_id)"-->
                        <span style="font-size:13px;">{{item3.category_name}}</span>
                    </label>

</div>

                </div>
                <div class="clearfix"></div>
				<div class="btnmodelorange">
                <a href="javascript:void(0);" ng-click="send774()" ng-hide="(platformid && contentid && designid && markettingid)" class="probutton">Go</a>                <!-- <button ng-disabled="!cat_id" ng-click="send(product)" class="probutton">Go</button>-->
                
                <a ui-sref="contract" class="probutton pull-left mtbutton">Go to Contract</a> <a href="javascript:void(0);" ng-click="unsetcart('content-writing')" class="probutton pull-right mtbutton">Start Over</a> </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>



    </div>

    </div>
</script>

<script type="text/ng-template" id="common.html">

    <div class="confirm_delpopup"  id="common_content_confirm_delpopup" >
        <a ng-click="cancel()" class="shutter-close2 ng-scope closebtn1" href="javascript:void(0)"><img class="ab-close" src="images/popup-Close.png"> </a>
        <div class="clearfix"></div>
        <div class="confirm_delbtn ng-scope">
            <div class="modalorangebar_new">Please select a platform first</div>
            <div class="modal-body text-center">

                <img src="images/abc.jpg">
                <div class="clearfix">&nbsp;</div>
				<div class="btnmodelorange">
                <a  ui-sref="web-platform" class="probutton">Go</a>
                <!-- <button ng-disabled="!cat_id" ng-click="send(product)" class="probutton">Go</button>-->
				</div>
                <div class="clearfix"></div>

			</div>
        </div>
        <div class="clearfix"></div>
    </div>




    </div>

    </div>
</script>
