
<!--bannercontain-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bannercontain">
            <img src="images/CustomEngineering_banner.jpg">
            <!--<h2>WEB <span>DESIGN</span></h2>
            <div class="container">
                <p>Maecenas vitae nunc eget quam pellentesque cursus eget et lacus. Vestibulum sollicitudin nisi nec pulvinar venenatis. Vivamus ornare, urna eget pulvinar eleifend, nibh lorem elementum mauris, in semper lectus elit ut ex.</p>
            </div>
            <div class="divider-inner"></div>-->

        </div>
    </div>
</div>

<!--
<div class="container-fluid">

    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blockcore">
            <h2>CUSTOM <span>ENGINEERING</span></h2>
            <div class="container">
                <p>Maecenas vitae nunc eget quam pellentesque cursus eget et lacus. Vestibulum sollicitudin nisi nec pulvinar venenatis. Vivamus ornare, urna eget pulvinar eleifend, nibh lorem elementum mauris, in semper lectus elit ut ex.</p>
            </div>
            <div class="divider-inner"></div>

        </div>
    </div>
</div>
&lt;!&ndash;content end &ndash;&gt;


&lt;!&ndash;bannercontain Start &ndash;&gt;
<div class="container-fluid">	
    	<div class="row">  
         	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content_writing_top_devider"></div>  	
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">   
                    <div class="content_writing_top_banner">  
                     	<div class="content_writing_top_banner_cuseng">
                            <div class="row">    
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                                    <div class="pd-banner">     
                                        <div class="content_writing_bannertext">
                                            <h4>Making Your</h4>
                                            <h2>Business Look</h2>
                                            <h3>Good is our passion</h3>
                                            <p>Your customers will notice the difference; we create more than amazing visuals, we create experiences that will have your customers returning time after time. </p>
                                            <div class="divider-inner-blue"></div>              
                                        </div>
                                    </div> 
                                </div>                                                                                                           
                            </div>
                       </div>
                    </div>
                </div> 
        	</div>
     	</div>
-->
</div>


<!--<div class="container-fluid">
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content_writing_top_devider"></div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="content_writing_top_banner_2">

                <div class="content_writing_bannertext">
                    <h4>Making Your</h4>
                    <h2>Business Look</h2>
                    <h3>Good is our passion</h3>
                    <p>Your customers will notice the difference; we create more than amazing visuals, we create experiences that will have your customers returning time after time. </p>
                    <div class="divider-inner-blue"></div>
                </div>
            </div>
        </div>

    </div>
</div>-->

<!--customeng first part Start -->
<div class="container-fluid">
    <div class="corecomp">
     <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div  class="container customengmaindiv">
                <div class="customengmainleftdiv">
                    <img alt="#" src="images/CustomDevelopment_image.jpg" class="floatRightclear">
<p>We offer competitive and reliable software services catered to the needs of our clients. Every custom development comes along with industry standard features and scalable solutions, giving clients the competitive edge they need to quickly upgrade and grow their software. We tailor and innovate visions of clients through a series of in-depth evaluations of their needs, in what we call Home Point Valuation. </p>
<p>During the Home Point Valuation process, we approach their business with a holistic approach to identify and leverage the proper technologies to that best suits their needs. Our custom development software application is cost-effective, value-driven, and tailored to the needs of the client&#39;s timeline, budget and requirements.  </p>
<p>Have an innovative idea or vision that needs custom developing? Contact us for a quick and easy quote now! </p>
                </div>

                <!--<div class="prod-blockright customengmainrightdiv">

                    <div class="butdiv">
                        <div class="butdivleft">
                            <a href="#" class="butdivleft-right">ADD TO CONTRACT</a>
                        </div>
                    </div>
                </div>-->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="greyline"></div>
        </div>
    </div>
</div>

<!--specialities Start -->
<div id="specialities">
    <div class="corecomp">
     <div class="container">
        <div class="specialities-top text-center">
            <h1>Specialties</h1>
        </div>
        <div class="specialities-content">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="single1">
                        <div class="singlespecialities">
                            <div class="specialities-icon">
                                <img src="images/sp-icon-1.png">
                                <p>Senior Level Software Engineering and Architectural Design</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="single2">
                        <div class="singlespecialities">
                            <div class="specialities-icon">
                                <img src="images/sp-icon-2.png">
                                <p>Advanced Web Development in LAMP <span>(Linux, Apache Server, MySQL and PHP)</</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="single3">
                        <div class="singlespecialities">
                            <div class="specialities-icon">
                                <img src="images/sp-icon-3.png">
                                <p>Advanced Language Experience including XML, AJAX, SOAP and JavaScript</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="single4">
                        <div class="singlespecialities">
                            <div class="specialities-icon">
                                <img src="images/sp-icon-4.png">
                                <p>Mobile HTML5 Language and SDK Experience</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="single5">
                        <div class="singlespecialities">
                            <div class="specialities-icon">
                                <img src="images/sp-icon-5.png">
                                <p>UI / UX / CSS Interface Blueprinting and Design</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="single6">
                        <div class="singlespecialities">
                            <div class="specialities-icon">
                                <img src="images/sp-icon-6.png">
                                <p>Website Design for Large and Small Business</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="single7">
                        <div class="singlespecialities">
                            <div class="specialities-icon">
                                <img src="images/sp-icon-7.png">
                                <p>Facebook Open Graph Development for Websites</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="single8">
                        <div class="singlespecialities">
                            <div class="specialities-icon">
                                <img src="images/sp-icon-8.png">
                                <p>Online Video Portal Development for YouTube and Self Hosted Plaforms</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="single9">
                        <div class="singlespecialities">
                            <div class="specialities-icon">
                                <img src="images/sp-icon-9.png">
                                <p>Brand and Marketing Management for Online Product Sales</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="single10">
                        <div class="singlespecialities">
                            <div class="specialities-icon">
                                <img src="images/sp-icon-10.png">
                                <p>Custom eCommerce Scripting for a Variety of Platforms</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="single11">
                        <div class="singlespecialities">
                            <div class="specialities-icon">
                                <img src="images/sp-icon-11.png">
                                <p>API Gateway Scripting for PayPal, Authorize.net, NMI and Several Others</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="single12">
                        <div class="singlespecialities">
                            <div class="specialities-icon">
                                <img src="images/sp-icon-12.png">
                                <p>Opensource Scripting for Joomla, Zen Cart and Word Press
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="single13">
                        <div class="singlespecialities">
                            <div class="specialities-icon text-center">
                                <img src="images/sp-icon-13.png">
                                <p>Opensource Scripting for Joomla, Zen Cart and Word Press
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="single14">
                        <div class="singlespecialities">
                            <div class="specialities-icon">
                                <img src="images/sp-icon-14.png">
                                <p>Opensource Scripting for Joomla, Zen Cart and Word Press
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 divider-inner-gray">
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
