<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bannercontain">
            <img src="images/Design_Banner.jpg">
            <!--<h2>WEB <span>DESIGN</span></h2>
            <div class="container">
                <p>Maecenas vitae nunc eget quam pellentesque cursus eget et lacus. Vestibulum sollicitudin nisi nec pulvinar venenatis. Vivamus ornare, urna eget pulvinar eleifend, nibh lorem elementum mauris, in semper lectus elit ut ex.</p>
            </div>
            <div class="divider-inner"></div>-->

        </div>
    </div>
</div>
<!--bannercontain end -->

<!--bannercontain Start -->
<!--<div class="container-fluid">
    	<div class="row">  
         	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content_writing_top_devider"></div>  	
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">   
                    <div class="content_writing_top_banner_design">  
                     	<div class="content_writing_top_banner_dsgn">
                            <div class="row">    
                                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12"> 
                                	<div class="pd-banner">
                                        <div class="content_writing_bannertext">
                                            <h4>Upgrade Your</h4>
                                            <h2>Web Platform</h2>
                                            <h3>To The Next Level</h3>              
                                        </div>    
                                  </div>                                
                                </div>      
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                                 <div class="bannertxt">
                                    <p>At least that is our Vision of them. In fact, it is so important to our <br><br> CORE Competency to have the right Mechanics when it comes to software for your website that we continue to perfect the process. Each of our platforms are fully integrated with all of the more important social networks, have fully controllable CMS features and authoring tools to let your business thrive in the online marketing place. Most of our customers start from one of our marketing platforms.<br><br> If you do not see what you are after here please get in touch. After writing 2 million lines of code over the past 15 years we have a wealth of software to work with.</p>
                                   	<div class="divider-inner-blue"></div>
                                   </div>
                                </div>                                                                                        
                            </div>
                       </div>
                    </div>
                </div> 
        	</div>
     	</div>-->
</div>



<!--bannercontain Start 
<div class="container-fluid">	
    	<div class="row">  
         	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content_writing_top_devider"></div>  	
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">   
                    <div class="content_writing_top_banner">  
                        <div class="row">    
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">  
                               <div class="pd-banner">     
                                    <div class="content_writing_bannertext">
                                        <h4>Upgrade Your</h4>
                                        <h2>Web Platform</h2>
                                        <h3>To The Next Level</h3>                                                 
                                    </div>
                                </div>
                            </div> 
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                                    <p class="bannertxt">At least that is our Vision of them. In fact, it is so important to our <br> CORE Competency to have the right Mechanics when it comes to software for your website that we continue to perfect the process. Each of our platforms are fully integrated with all of the more important social networks, have fully controllable CMS features and authoring tools to let your business thrive in the online marketing place. Most of our customers start from one of our marketing platforms.<br> If you do not see what you are after here please get in touch. After writing 2 million lines of code over the past 15 years we have a wealth of software to work with.</p>
                                   <div class="divider-inner-blue"></div>
                           </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">       
                                <img src="../images/design_right.png" />
                            </div>                         
                         </div>
                    </div>
                </div> 
        	</div>
     	</div>
</div>
-->


<!--<div class="container-fluid">
	<div class="content_writing_top_banner_4">
    	<div class="row">    	
            <div class="col-md-6">            
                    <div class="content_writing_bannertext">
                        <h4>Upgrade Your</h4>
                        <h2>Web Platform</h2>
                        <h3>To The Next Level</h3>                   
                    </div>
            </div>       
            <div class="col-md-3">
                    <p class="bannertxt">At least that is our Vision of them. In fact, it is so important to our <br><br>
                        CORE Competency to have the right Mechanics when it comes to software for your website that we continue to perfect the process. Each of our platforms are fully integrated with all of the more important social networks, have fully controllable CMS features and authoring tools to let your business thrive in the online marketing place. Most of our customers start from one of our marketing platforms.<br><br> If you do not see what you are after here please get in touch. After writing 2 million lines of code over the past 15 years we have a wealth of software to work with.</p>
                   <div class="divider-inner-blue"></div>
           </div>
        </div>
     </div>
</div>
-->

<!--<div class="container-fluid">
    <div class="row">
        <div class="designback">
            <div class="col-md-5"><img alt="#" src="images/webback.png"></div>
            <div class="col-md-4">
                <p>At least that is our Vision of them. In fact, it is so important to our <br><br>
                    CORE Competency to have the right Mechanics when it comes to software for your website that we continue to perfect the process. Each of our platforms are fully integrated with all of the more important social networks, have fully controllable CMS features and authoring tools to let your business thrive in the online marketing place. Most of our customers start from one of our marketing platforms.<br><br> If you do not see what you are after here please get in touch. After writing 2 million lines of code over the past 15 years we have a wealth of software to work with.</p>
                <div class="dividerinner-small2"></div>
            </div>
            <div class="col-md-3"><img alt="#" src="images/webright.png"></div>
        </div>
    </div>
</div>-->
<div class="container-fluid">
    <div class="corecomp">
        <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div  class="container customengmaindiv">
                <div class="customengmainleftdiv">
<!--
                    <p>The latest web platforms used by InfluxIQ are solutions-driven offering
                        consistently high levels of performance. Whether our client is interested in a
                        dynamic website or a complete market launch platform, we work with them to find the right solution to transform their ideas into effective and reliable solutions. </p>
                    <p>Our platforms are immaculate and works for any type of clients; whether their just a start up, small business or a large enterprise. We deliver cost-effective solutions catered and uniquely established on a client by client basis, over a wide variety of industries all over the world. </p>
                    <p>We create fully functional features along with a complete project-consultation through our core competencies to provide with clients with an agile roadmap to help propel their businesses. The outcome of this process is high-end products for clients.</p>
-->                 <img src="images/design_image.jpg" class="floatRightclear">
                    <p>InfluxIQ offers 4 different website designing packages with a unique blend of powerful and robust designs to back our client’s digital presence. Our designers specialize and have perfected the design process to provide our clients with the most extraordinary, intuitive, audience engaging websites that’s reflective of our client’s true identity and presence potential.</p>
                    <p>Our creative process is innovative and advanced and we continue to re-innovate the process of superior branding through use of technologies and software. We’ve mastered the art of identity and brand precision – what does this mean for our clients? It means cost-effectiveness and quality driven designs!</p>
                    <p>Our designs continue to help our clients stay in the forefront of competitors and scale into new industries, allowing them to take a larger piece of the marketplace. Our visually appealing websites will attract the maximum numbers of the right audience for our clients – and with the right brand presence to capture their attention, their profits also maximize.</p>
                    <p>Interested in appealing and engaging customized website designs? Choose from one of our superior design packages below!</p>

                    <!-- <p>InfluxIQ offers 4 different website designing packages with a unique blend of powerful and robust designs to back our client’s digital presence. With our Perfected design process we can provide our clients without he most extraordinary, intuitive, audience engaging websites that reflects our client's true identity and presence portal. Our advanced innovative creative process is our secret to re-innovate the process of superior branding, masterfully using technology and software. We’ve mastered the art of identity and brand precision – what does this mean for our clients? It means cost-effectiveness and quality driven designs!</p>
                     <p>Our designs continue to help our clients stay in the forefront of competitors and scale into new industries, allowing them to take a larger piece of the marketplace. Our visually appealing websites attracts the maximum audience for our clients and with the right brand presence captures their attention with profit maximization. Interested in appealing and engaging customized website designs? Choose from one of our superior design packages below!</p>-->

                </div>

                <!--<div class="prod-blockright customengmainrightdiv">

                    <!--<div class="butdiv">
                        <div class="butdivleft">
                            <a href="#" class="butdivleft-right">ADD TO CONTRACT</a>
                        </div>
                    </div>
                </div>-->

            </div>
        </div>
    </div>
    </div>
</div>

<div class="container shoptabdiv">
    <ul ng-if="productnamelist.length>0">
        <li ng-repeat="item in productnamelist"   ng-style="{'background-color': '{{item.colour}}'}"><a href="#" class="product_listt" productid="{{item.id}}"><img src="{{item.icon_url}}">{{item.product_short_name}}</a></li>
        <!--

                <li class="t2"><a href="#"><img src="images/t2.png">Shop Deluxe</a></li>
                <li class="t3"><a href="#"><img src="images/t3.png">eCommerce Deluxe</a></li>
                <li class="t4"><a href="#"><img src="images/t4.png">Market Launch</a></li>
                <li class="t5"><a href="#"><img src="images/t5.png">360 Affilaite</a></li>
        -->
    </ul>
    <div class="clearfix"></div>
    <div class="greyline"></div>
</div>

<div class="container-fluid" ng-show="productlist.length>0">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container productdiv{{productitem.id}}" ng-repeat="productitem in productlist">
            	<div class="clearfix"></div>
                <div class="prod-blockleft">
                    <h2>{{productitem.product_name}}</h2>
                    <h3>{{productitem.page_range}} pages - ${{productitem.product_price}} (Coding only ${{productitem.coding_only_price}})</h3>
                    <div ng-bind-html="trustAsHtml(productitem.product_description)"></div>
<!--
                    <p>The Basic Design Package provides a strong foundation for businesses to better communicate with current and potential customers and broaden their reach. You can expect a professional and complete website that is fully designed and powerful. This design-product is primarily offered for those interested in a business-oriented website. - See more at: http://influxiq.com/home/design.html#sthash.VvK4AnS2.dpuf</p>

                    <ul class="nopadding-design">
                        <li>Customized Homepage</li>
                        <li>Competition Research</li>
                        <li>Custom Creative Elements</li>
                        <li>High-Quality Resolution</li>
                        <li>Responsive Design</li>
                        <li>5-7 Fully Designed Pages </li>
                    </ul>
-->
                    
                </div>

                <div class="prod-blockright">
                    <img alt="#" src="{{productitem.font_image_url}}">
                   <!-- <p href="javascript:void(0)" class="designtextline gocontact">Have Questions about <span>Design Packages - <span>Basic?</span></span></p>
                    <a href="javascript:void(0)" class="butdivright1 scrollToTop">Back to top <span>?</span></a>-->                  
                    
                    <div class="butdiv">
                        <div class="butdivleft">
                            <a href="javascript:void(0);" ng-click="pop_design(productitem)" class="butdivleft-right">ADD TO CONTRACT</a>
                           <!-- <a ui-sref="web-platform-details({id:productitem.id})" class="butdivleft-right">VIEW DETAILS</a>-->
                        </div>
                        <!--<a href="#" class="butdivright scrollToTop">Back to top <span>?</span></a>-->
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="greyline"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="design.html">

    <div class="confirm_delpopup" id="design_second_confirm_delpopup" >
        <a ng-click="cancel()" class="shutter-close2 ng-scope closebtn1" href="javascript:void(0)"><img class="ab-close" src="images/popup-Close.png"> </a>
        <div class="clearfix"></div>
        <div class="confirm_delbtn ng-scope">
            <div class="modalorangebar_new" ng-hide="(platformid && contentid && designid && markettingid)">Select Your Next Service</div>
            <div class="modalorangebar_new_bdr" ng-hide="!(platformid && contentid && designid && markettingid)"></div>
            <div class="modal-body text-center">
                <span>{{selectstring}}</span>
                <span class="typeclass" ng-hide="(platformid && contentid && designid && markettingid)">{{type}}</span>
                <div class="modal-body-inner" ng-hide="(platformid && contentid && designid && markettingid)">
                <div class="checkbox checkclass" ng-repeat="item3 in categorylist" ng-hide="inarray1(item3.id)> -1">

                    <label class="prolabel" >
                        <img ng-show="item3.id==2" src="images/icon-webdesign.png" alt="web design">
                        <img ng-show="item3.id==3" src="images/icon-creativecontent.png" alt="creative content">
                        <img ng-show="item3.id==4" src="images/icon-presencedevelopment.png" alt="presence developement">

                        <input  ng-change="selectradio(item3.id)"  type="radio" value="{{item3.id}}"  name="dfgdf"  ng-model="selectedcat"
                        > <!--validator = "platformValidator() === true"
                                                       invalid-message = "platformValidator(form.platform_id)"-->
                        <span style="font-size:13px;">{{item3.category_name}}</span>
                    </label>
					</div>



                </div>
                <div class="clearfix"></div>
                <div class="btnmodelorange">
                <a href="javascript:void(0);" ng-click="send774()" ng-hide="(platformid && contentid && designid && markettingid)" class="probutton">Go</a>
                <!-- <button ng-disabled="!cat_id" ng-click="send(product)" class="probutton">Go</button>-->

                <a ui-sref="contract" class="probutton pull-left mtbutton">Go to Contract</a> <a href="javascript:void(0);" ng-click="unsetcart('web-design')" class="probutton pull-right mtbutton">Start Over</a>
           </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>




    </div>

    </div>
</script>


<script type="text/ng-template" id="common.html">

    <div class="confirm_delpopup" id="common_design_confirm_delpopup" >
        <a ng-click="cancel()" class="shutter-close2 ng-scope closebtn1" href="javascript:void(0)"><img class="ab-close" src="images/popup-Close.png"> </a>
        <div class="clearfix"></div>
        <div class="confirm_delbtn ng-scope">
            <div class="modalorangebar_new">Please select a platform first</div>
            <div class="modal-body text-center">
                <img src="images/abc.jpg">
                <div class="clearfix">&nbsp;</div>
				<div class="btnmodelorange">
                <a  ui-sref="web-platform" class="probutton">Go</a>
                <!-- <button ng-disabled="!cat_id" ng-click="send(product)" class="probutton">Go</button>-->
				</div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>




    </div>

    </div>
</script>
<!--
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <div class="prod-blockleft">
                    <h2>Design Packages - Advanced</h2>
                    <h3>7 - 15 pages- $1497.00 (Coding only $597.00)</h3>
                    <p>The Advanced Design Package builds from the strong foundation to provide more pages which means more information to current and future clients. The Advanced package provides a website that is fully designed and provides a perfect medium that can effectively communicate to prospects about your services and products. This design-product is primarily offered for those offering professional services and products.
                    </p>

                    <ul class="nopadding-design">
                        <li>Customized Homepage</li>
                        <li>Competition Research</li>
                        <li>High-Quality Resolution</li>
                        <li>Responsive Design</li>
                        <li>7-15 Fully Designed Pages</li>
                    </ul>
                    <a href="#" class="addcontract">ADD CONTRACT</a>
                </div>

                <div class="prod-blockright">
                    <img alt="#" src="images/design-advanced.png">
                    <p class="designtextline">Have Questions about <span>Design Packages - <span>Basic?</span></span></p>
                    <a href="#" class="butdivright1">Back to top <span>?</span></a>
                </div>
                <div class="clearfix"></div>
                <div class="greyline"></div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <div class="prod-blockleft">
                    <h2>Design Packages - Premium</h2>
                    <h3>15 - 25 pages- $1997.00 (Coding only $797.00)</h3>
                    <p>The Premium Design Package overs a complete website with more pages which provides a full layout of your company, product, services, and any other pertinent information about your company. The Premium package provides a website that is an effective medium to communicate to prospects about your services and products. This design-product is primarily offered for those offering professional services and products. - See more at: http://influxiq.com/home/design.html#sthash.VvK4AnS2.dpuf</p>

                    <ul class="nopadding-design">
                        <li>Customized Homepage</li>
                        <li>Competition Research</li>
                        <li>Custom Creative Elements</li>
                        <li>High-Quality Resolution</li>
                        <li>Responsive Design</li>
                        <li>7-15 Fully Designed Pages </li>
                    </ul>
                    <a href="#" class="addcontract">ADD CONTRACT</a>
                </div>

                <div class="prod-blockright">
                    <img alt="#" src="images/design-premium.png">
                    <p class="designtextline">Have Questions about <span>Design Packages - <span>Basic?</span></span></p>
                    <a href="#" class="butdivright1">Back to top <span>?</span></a>
                </div>
                <div class="clearfix"></div>
                <div class="greyline"></div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <div class="prod-blockleft">
                    <h2>Design Packages - Landing Page Set</h2>
                    <h3>1 - 2 pages- $1297.00 (Coding only $397.00)</h3>
                    <p>Landing pages provide a medium to communicate your most important information to potential clients. We provide eye-catching, professionally designed landing pages that capture and hold the
                        readers attention.</p>
                    <a href="#" class="addcontract">ADD CONTRACT</a>
                </div>

                <div class="prod-blockright">
                    <img alt="#" src="images/design-landing.png">
                    <p class="designtextline">Have Questions about <span>Design Packages - <span>Basic?</span></span></p>
                    <a href="#" class="butdivright1">Back to top <span>?</span></a>
                </div>
                <div class="clearfix"></div>
                <div class="greyline"></div>
            </div>
        </div>
    </div>
</div>-->
