<div ng-show="contractfooter!='contract'" class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">    
            <div class="homeformblock2">
            	<div class="container">
            		<div class="row">        			
              		<div class="homeformblock">CONTACT US</div>
              		<!--<div class="divider-inner"></div>-->
              		<!--<img alt="#" class="logoinflux" src="images/logo.png">-->
                    <div class="linebottom"></div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    	<div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mainbg"> 
                            	<div class="singlemainbg">
                                    <div class="mainbgtop">
                                       <img src="images/ft-contact-pic1.png" alt="img25" />                               
                                       <div class="overlayimage">
                                         <img src="images/icon-message.png" />
                                       </div>
                                    </div>                           
                                    <div class="mainbgtxt">
                                        <p>Email</p>
                                        <span>Info@influxiq.com</span>
                                    </div>
                            	</div>
                          	</div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mainbg">
                            	<div class="singlemainbg">
                                   <div class="mainbgtop">
                                       <img src="images/ft-contact-pic2.png" alt="img25">                                
                                       <div class="overlayimage">
                                         <img src="images/icon-location.png" />	
                                       </div> 
                                   </div> 
                                    <div class="mainbgtxt">
                                        <p>our office</p>
                                        <span>Salt Lake City, Utah</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mainbg">
                            	<div class="singlemainbg">
                                  	<div class="mainbgtop">
                                        <img src="images/ft-contact-pic3.png" alt="img25">                               
                                        <div class="overlayimage">
                                         <img src="images/icon-phone.png" />	
                                        </div> 
                                   	</div>                              
                                    <div class="mainbgtxt">
                                        <p>Phone</p>
                                        <span>Office:<!--<img src="images/icon-skype.png" />--> 801.317.1876 <!--<label>FREE</label>--></span>
                                        <span>Mobile:<!--<img src="images/icon-skype.png" />--> 801.949.0696 <!--<label>FREE</label>--></span>
                                    </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              		 	<div class="formdiv">
                           <form angular-validator-submit="contactsubmit()" name="contactform" novalidate angular-validator>
                
                                        <!--
                
                                                                <input class="textfield" name="fullname" type="text" placeholder="Full Name">
                                                                <input class="textfield" name="email" type="text" placeholder="Email">
                                                                <input class="textfield" name="phonenumber" type="text" placeholder="Phone Number">
                                                                <textarea name="message" cols="" rows="" placeholder="Message"></textarea>
                                        -->
                
                                        <div class="form-group contactform">
                                            <input  type="text" class="form-control textfield" name="fullname" placeholder="Your Name"                
                                                    ng-model="form.fullname"
                                                    required-message= "'Name can not be blank.'"
                
                                                    required
                                            >
                                           </div>

                                        <div class="form-group contactform">

                                        <input type="email" class="form-control textfield" placeholder="Email address" name="email"
                                                   ng-model="form.email"
                                                   required-message="'Email can not be blank.'"
                                                   invalid-message="'Email not valid'"
                                                   required
                                            >
                                        </div>
                                            <!-- <span class="errormsg">erroe msg</span>-->

                                        <div class="form-group contactform mgr0">
                                        
                
                                            <input type="text" class="form-control textfield"  placeholder="Subject" name="subject"
                                                   ng-model="form.subject"
                                                   required-message="'Subject can not be blank.'"
                                                   required
                                            >  
                                       </div>
                                            <!-- <span class="errormsg">erroe msg</span>-->
                                        <div class="form-group contactform">
                                       
                
                                                    <textarea class="form-control textarea"  name="message" placeholder="Message"
                                                              ng-model="form.message"
                                                              required-message="'Message can not be blank.'"
                                                              required>
                                                    </textarea>
                                        </div>
                                
                                        <input class="sub" type="submit" value="SUBMIT">
                                       
                                    </form>
                     	</div>
            		</div>
           		 </div>
              </div>
           </div>
        </div>
    </div>
</div>

<div class="container-fluid textblock8">
    <div class="row">


        <div class="container">

            <img src="images/bottommanner2.png" alt="#" class="bottommanner2">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 servicesblock2">

                <div class="bottomtextblock">
                    <h4>TO SEE JUST HOW INCREDIBLE
                        OUR WORK TRULY IS YOU HAVE TO
                        CHECK OUT OUR

                    </h4>
                    <h5>Portfolio!</h5>

                    <p><a href="javascript:void(0)"> Click Here</a> to see our incredible portfolio at <a href="javascript:void(0)"> TopOnlineDesigns.com</a> and see for yourself why our customers are so excited about the
                        experience they get when working with us
                    </p>

                    <div class="bottomlink"><img src="images/toponlinedesigns.png" alt="#"><a class="portfolio_link2"  href="http://toponlinedesigns.com/" target="_blank">View More</a></div>


                </div>

            </div>


            <img src="images/bus_man.png" alt="#" class="bus_man">




            <div class="clearfix"></div>
        </div>
    </div>
</div>


<div class="container-fluid footerblock">
    <div class="row">


        <div class="container">



            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <h2>Are you ready to go?</h2>
                <span> Your vision is only one step away from coming true. You’ve waited long enough, let’s make it real together!
</span>



            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <a class="startlink" ui-sref="web-platform"> Start your project </a>
                <div class="clearfix"></div>
            </div>





            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="container-fluid socialblock">
    <div class="row">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="socialmediainfo text-center">
                   <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
                </ul>
                <ul class="footermenu text-center">
                    <li><a ui-sref="index">Home</a></li>
                    <li><a href="http://toponlinedesigns.com/" target="_blank">Portfolio</a></li>
                    <li><a href="#" class="con">Contact Us</a></li>
                    <li><a href="javascript:void(0)" ui-sref="login" class="con">Login</a></li>
                </ul>
              <!--  <p class="text-center">© 2016, Influx IQ Development Group. All rights reserved.</p>-->
                <p class="text-center foot">© InfluxIQ Technologies LLC and All Rights Reserved.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>








<script type="text/ng-template" id="contact.html">

<div class="confirm_delpopup" id="signpopup">
        <a ng-click="cancel()" class="shutter-close2 ng-scope closebtn1" href="javascript:void(0)"><img class="ab-close" src="images/popup-Close.png"> </a>
        <div class="clearfix"></div>
        <div class="confirm_delbtn ng-scope">            
            <div class="modal-body">
				<div class="thanksbg">                 
					<h2 class="thanks">Thank you for contacting InfluxIQ</h2>
				</div>
				<div class="text-center">
					<img src="images/img-thankyou.png" />
				</div>
                <p class="thanksdet">A Influxiq Team Member Will Get Back to You In 24 Hours or less</p>
				<a href="javascript:void(0)" class="logo"><img  alt="#" src="images/logo.png"></a>
            </div>
        </div>        
    </div>
  </div>
</div>


<!--
    <div id="contactowmodal" class="modal fade" role="dialog">

        <div class="modal-dialog">



            &lt;!&ndash; Modal content&ndash;&gt;

            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <h4 class="modal-title">Thank You For Contacting  Influxiq </h4>

                </div>

                <div class="modal-body">



                    <h2><a href="/index"><img  alt="#" src="images/logoold.png"></a></h2>

                    <p>A Influxiq Team Member Will Get Back to You In 24 Hours or less</p>

                </div>



            </div>

-->


        </div>

    </div>
</script>
