<div class="container-fluid bannercontain">
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">

                        <a href="javascript:void(0)" ui-sref="presence-developement"><img src="images/banner1.png" alt="#"></a>
                    </div>

                    <div class="item">

                        <a href="javascript:void(0)" ui-sref="web-platform"><img src="images/banner2.png" alt="#"></a>
                    </div>

                    <div class="item">
                        <a href="javascript:void(0)" ui-sref="web-design"><img src="images/banner3.png" alt="#"></a>
                    </div>

                    <div class="item">
                        <a href="javascript:void(0)" ui-sref="core-competencies"><img src="images/banner4.png" alt="#"></a>
                    </div>
                </div>
                <!--<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>-->

 
            </div>

        </div>
    </div>
</div>

<div class="container-fluid textblock1">
	<div class="text-center">
        <!--<div class="whitesept"></div>-->
        <img src="images/influxtext1.png" alt="#" class="text1">
        <!--<p>InfluxIQ Development Group is a <span>POWERHOUSE</span> partner for your company
                        in the online web marketing space.</p>-->
        <p>Engineering The Human Experience To Connect And Positively Impact Lives</p>
        <!--<p>InfluxIQ Development Group is a <span>POWERHOUSE</span> partner for your company in the online web marketing space.</p>-->
    </div>
</div>



<div class="container-fluid textblock2">
    <div class="row">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <h2>Some Of Our Clients</h2>


                <a href="http://toponlinedesigns.com/" target="_blank" class="portfolio_link">View Portfolio</a>



            </div>
        </div>
    </div>

</div>

<div class="container-fluid clientsblock">
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img src="images/img1.png" alt="#">
            <img src="images/img2.png" alt="#">
            <img src="images/img3.png" alt="#">
            <img src="images/img4.png" alt="#">
            <img src="images/img5.png" alt="#">
            <img src="images/img6.png" alt="#">


        </div>

    </div>

</div>

<div class="container-fluid textblock3">
    <div class="row">


        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <h2>we are the <span>professionals</span></h2>
               <!-- <p>Lorem Ipsum Generator that helps to create dummy text for all layout needs</p>-->
                <p>We offer custom solutions for all your digital/online needs - show us your vision and let us mastermind it for you.</p>

                <div class="devider3"></div>


                <div class="professionals_textwrapper">
 <!--                   <div class="block1">2,000+ Projects to Date with Hundreds of Return and Ongoing Customers.

                        </div>
-->                    <div class="block1">Engineered and Masterfully Managed Over 2000+ Projects.

                    </div>


                   <!-- <div class="block2">26 In-House Professionals most
                        Degree holders with the
                        Company 5 + Years.</div>-->
                    <div class="block2">26 Highly Skilled, Innovative, Value-Driven In-House Professionals.</div>
                    <div class="clearfix"></div>



                   <!-- <div class="block3">2 Companies Founded by the
                        Same Owners with A+ Rating
                        with the BBB.</div>-->
                    <div class="block3">Both Companies Have An A+ Rating with the Better Business Bureau.</div>
                    <!--<div class="block4">7 Inc 500 Companies as Clients all
                        with Incredible <br>

                        Testimonies of Our Work.</div>-->

                    <div class="block4">Remarkable Testimonials From Raving Satisfied Clients - 7 of which were Inc 500 Companies.</div>
                    <div class="clearfix"></div>



                   <!-- <div class="block5">Participants in Several
                        Projects that had Explosive
                        Multi-Million Dollar
                        Expediential Growth.</div>-->
                    <div class="block5">Streamlined and Developed Several Project That Generated Multi-Million Dollars. </div>

                    <div class="block6">Both companies are lead by reputable leaders and are authorities in the IT industry.</div>

                   <!-- <div class="clearfix"></div>-->

                    <p >"Seldom do you meet people in business who love what they do, are fair in their agreements and eager to please their clients with personal service. These are the characteristics we have seen in working with Beto and his company over the years. You can't go wrong with teaming up with Beto. I recommend him and his services highly!"</p>


                    <p class="testi"><span>Bret Grow</span> - President/CEO LinkTrust (Inc 500) </p>

                    <!--<h4>Founding Partner <span>Beto Paredes</span> has appeared as a <br>

                        Key Note on over a Dozen Occasions often <br>

                        Speaking after Google and before IBM.</h4>-->






                </div>



            </div>


        </div>

    </div>

</div>



<div class="container-fluid textblock4">
    <div class="row">


        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

               <!-- <h2>our work is <span>incredible</span></h2>-->
                <h2>Long-Term Digital Partner You Can <span>Trust</span></h2>

               <!-- <p>We design and build functional and beautiful websites, software and overall web precence.
                    What we do will inrease your influence and generate revenue. </p>-->

                <p>We design and build reliable cost effective software to fit our client's needs - fully featured and
                    scalable solutions that’s right for their business.</p>


                <div class="devider4"></div>

                <img src="images/bus_woman.png" alt="#" class="bus_woman">

                <div class="block4text">

                   <!-- <h5>Lets Keep it Simple -</h5>-->
                    <h5>Holistic Approach Towards Value-Driven Quality -</h5>
                   <!-- <h6>HIRE US!</h6>-->
                    <h6>We’ve Got All Angles Covered</h6>
                    <div class="devider5"></div>

<!--
                    <p>InfluxIQ brings over 15 years of experience to the forefront of every single service they provide. We are the first holistic service that works with every client to look at every angle to going onto the World Wide Web with a successful venture.  Whether that be for your local small business or your plans to go international with your entrepreneurial plans. We are your partners. </p>
-->
                    <p>InfluxIQ brings over 15 years of experience and innovation to the forefront of the digital age. We believe in a holistic approach with every single client - by taking a look at all angles of the business model to ensure that their presence on the world wide web is a successful and profitable venture. We’ve successfully provided services to small business to international companies, in various industry segments such media and entertainment, non-profit, for-profit, health care, multi-level and much more. </p>


                    <p>Our mission at InfluxIQ is to Engineer The Human Experience To Connect And Positively Impact Lives - whether it means connecting business owners with other business owners, or business owners with potential clients, we have the expertise and confidence that we’re the right choice.</p>
                    <p>We’ll transform your vision into reality with impeccable quality and value-driven service. </p>
                  <!--  <a class="about_link" href="javascript:void(0)">See more about us</a></div>-->


                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>

</div>

<div class="container-fluid textblock5">
    <div class="row">


        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <!-- <h2>Our <span>Two</span> Incredible Companies</h2>-->
                <h2>Two Powerhouse Companies </h2>

<!--
                <p><strong>Beto Paredes</strong>, founded ApogeeInvent with the other founding partner Joseph Frazier and Beto Paredes, LLC through his own efforts in order to offer the widest variety of professionals services offered. Since that both of these companies were
                    created they have both achieved independently A+ ratings with the BBB.  Now they have combined this incredible service model into the DBA InfluxIQ Development Group and bring a whole new dimension of service and success to their
                    current and future client base. </p>
-->

                <p><strong>Beto Paredes</strong> and Joseph Frazier, the founders of ApogeeINVENT has combined efforts with
                    InfluxIQ to offer agile, cutting edge, and dynamic services to the digital marketplace.
                    The combined efforts will ensure that client get cost-effective and efficient solutions tailored to their
                    business. With 26 full-time working professionals driven by the love and passion for technology
                    and delivering uncompromising commitment towards excellence and quality, we know our
                    clients will feel the difference in value. </p>


                <div class="text5logodiv">
                    <img src="images/logoimg1.png" alt="#" class="logoimg1">
                    <span></span>
                    <img src="images/logoimg2.png" alt="#" class="logoimg2">
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid hometabblock">
    <div class="row">


        <div class="container">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <h2>Our <span>Core</span> Competencies</h2>

                <div class="tabmenu"><ul class="nav nav-tabs" id="myTab">

                    <li class="active"><a data-target="#IDENITY" data-toggle="tab">IDENITY</a></li>
                    <li><a data-target="#PRESENCE" data-toggle="tab">PRESENCE</a></li>
                    <li><a data-target="#STRATEGY" data-toggle="tab">STRATEGY</a></li>
                    <li><a data-target="#REVENUE" data-toggle="tab">REVENUE</a></li>
                    <li><a data-target="#LONGEVITY" data-toggle="tab">LONGEVITY</a></li>


                   <!-- <li class="active"><a href="javascript:void(0)">IDENITY</a></li>
                    <li><a href="javascript:void(0)">PRESENCE</a></li>
                    <li><a href="javascript:void(0)">STRATEGY</a></li>
                    <li><a href="javascript:void(0)">REVENUE</a></li>
                    <li><a href="javascript:void(0)">LONGEVITY</a></li>-->


                </ul>
                </div>


                <div class="tabcontain text-center">
                    <div class="tab-content">
                        <div class="tab-pane active" id="IDENITY">
                            <div class="tabtextcontain">
                                <div class="tabimglist">
                                	<div class="singletabimg one">
                                     <img src="../images/icon-eye.png" />
                                     <span class="txttab">Company Vision</span>                                  	
                                    </div>
                                    <div class="singletabimg two">
                                     <img src="../images/icon-gole.png" />
                                     <span class="txttab">core values</span>                                  	
                                    </div>
                                    <div class="singletabimg three">
                                     <img src="../images/icon-readbook.png" />
                                     <span class="txttab">identity</span>                                  	
                                    </div>                                	
                                </div>                               
                                <p>Successful business owners have come to realize the power and the necessity of maintaining a strong identity to ensure that their business continues to grow. A strong identity is essential and is a vital part of the organization. A brand is a company’s number one asset. It tells the story of who the company is as an organization and how they want to be perceived in the marketplace and in turns affects how their clients and potential clients perceive them.
                                </p>
                                <p>By asking the right questions – what niche is our client in, whose their audience, what value they bring to the marketplace, why they’re in business and what impact they have their customers, we are able to define the what is the most critical distinctions that sets them apart from their competitors.
                                </p>
                                <p>We know when core values are crystal clear and the vision is transformative, our client will build an enterprising successful business.
                                </p>
                            </div>
                            <span><a class="corebutton" href="javascript:void(0)" ui-sref="core-competencies">View Core Competencies >></a></span>

                        </div>
                        <div class="tab-pane" id="PRESENCE">
                          <div class="tabtextcontain">
                        		<div class="tabimglist">
                                	<div class="singletabimg four">
                                     <img src="../images/icon-readbook.png" />
                                     <span class="txttab">Identity</span>                                  	
                                    </div>
                                    <div class="singletabimg five">
                                     <img src="../images/icon-mechanics.png" />
                                     <span class="txttab">Mechanics</span>                                  	
                                    </div>
                                    <div class="singletabimg six">
                                     <img src="../images/icon-presence.png" />
                                     <span class="txttab">Presence</span>                                  	
                                    </div>                                	
                                </div>                               
                                <p>With a clear identity by making clear the client’s core values and vision, establishing and masterminding the most optimal and powerful presence is the next step on the roadmap. A well-established identity coupled with the right mechanics’ will skyrocket online sales and engage potential clients with our client’s services. Our unmatched expertise in web presence have touched a wide array numbers of clients, some of which are the highest grossing direct sales companies.</p>
                          <p>A company’s digital footprint is more than just a well-designed website, it’s the full mechanics that’s available to your end users. This means includes Facebook fan pages, twitter accounts, separate blog sites, press releases, articles, local directory listings and much more. The level of details we put into developing web presence is immaculate and precise, our clients see sales and lead conversions in a relatively short period.</p>
                          <p>With the right mechanics catered specific to the company’s brand, we’re able to master and truly present the company’s total digital presence.</p>
                          </div>
                            <span><a class="corebutton" href="javascript:void(0)" ui-sref="core-competencies">View Core Competencies >></a></span>

                        </div>
                        <div class="tab-pane" id="STRATEGY">
                         <div class="tabtextcontain">
                        		<div class="tabimglist">
                                	<div class="singletabimg seven">
                                     <img src="../images/icon-presence.png" />
                                     <span class="txttab">Presence</span>                                  	
                                    </div>
                                    <div class="singletabimg eight">
                                     <img src="../images/icon-markposi.png" />
                                     <span class="txttab">Marketplace Positioning</span>                                  	
                                    </div>
                                    <div class="singletabimg nine">
                                     <img src="../images/icon-strategy.png" />
                                     <span class="txttab">Strategy</span>                                  	
                                    </div>                                	
                                </div>                               
                                <p>Creating profitable and performance driven companies is our wheelhouse – and we do this by strategically determining what is the ‘highest and best use’ of our client’s actionable plans.  Whether they’re ready to expand into a completely new niche or is planning to dominate the market they’re in now, we know having an effective strategy an integral part of their success.</p>
                                <p>We help our clients build and expand their performance capabilities through an acronym we call M.A.P or their “Most Actionable Positioning.” With our wide range of capabilities, we skillfully evaluate their total marketplace perspective and fortify methodologies to maximize their efforts on the World Wide Web. Through leveraging metrics, such as marketplace positioning, most pertinent to their business model, we’re able to cut risks and make more effective decisions.
                                </p>
                                <p>The web is an immense, complicated, and often overlooked mathematical equation but with processes geared for profitability and sustainability, we open our clients up to newer thinking models that skyrockets their ROIs.</p>
                         </div>
                            <span><a class="corebutton" href="javascript:void(0)" ui-sref="core-competencies">View Core Competencies >></a></span>

                        </div>
                        <div class="tab-pane" id="REVENUE">
                         <div class="tabtextcontain">
                        		<div class="tabimglist">
                                	<div class="singletabimg ten">
                                     <img src="../images/icon-strategy.png" />
                                     <span class="txttab">Strategy</span>                                  	
                                    </div>
                                    <div class="singletabimg eleven">
                                     <img src="../images/icon-auddev.png" />
                                     <span class="txttab">Audience Development</span>                                  	
                                    </div>
                                    <div class="singletabimg twelve">
                                     <img src="../images/icon-renevue.png" />
                                     <span class="txttab">Revenue</span>                                  	
                                    </div>                                	
                                </div>
                             <p>Our actionable strategy integrated with marketplace positioning cascades our client’s revenue model – often exceeding their financial expectations. With over 15 years of experience in the income-generating arena, we understand and have combatted the stumbling blocks most companies come in contact with. Oftentimes, they generate revenue by sheer determination but do not employ the proper methods and policies and through a series of ill-advised decisions, they start to free-fall.
                             </p>
                             <p>We deploy a series of methodologies to properly scale their business, increase profits, empower them with the proper knowledge of how to continue to expand their revenue influx. By way of quality-driven service, we offer solutions to presenting them to the right audience with the mechanics in place for them to take action, buy products, set an appointment, or any other actionable steps. We investigate and market research the industry to better inform our clients of upcoming trends so they’ll have the marketplace advantage, for no cost to our clients. This action-driven business process is pioneering and by embracing a better way of thinking, we minimize our client’s financial risk.
                             </p>
                             <p>Strategy along with audience development will help shift businesses in an upward and exponential direction.
                             </p>
                         </div>
                            <span><a class="corebutton" href="javascript:void(0)" ui-sref="core-competencies">View Core Competencies >></a></span>

                        </div>
                        <div class="tab-pane" id="LONGEVITY">
                         <div class="tabtextcontain">
                        		<div class="tabimglist">
                                	<div class="singletabimg thirteen">
                                     <img src="../images/icon-renevue.png" />
                                     <span class="txttab">Revenue</span>                                  	
                                    </div>
                                    <div class="singletabimg fourteen">
                                     <img src="../images/icon-sustainability.png" />
                                     <span class="txttab">Sustainability</span>                                  	
                                    </div>
                                    <div class="singletabimg fifteen">
                                     <img src="../images/icon-longevity.png" />
                                     <span class="txttab">Longevity</span>                                  	
                                    </div>                                	
                                </div>
 <!--                            <p>Our actionable strategy integrated with marketplace positioning cascades our client’s revenue model – often exceeding their financial expectations. With over 15 years of experience in the income-generating arena, we understand and have combatted the stumbling blocks most companies come in contact with. Oftentimes, they generate revenue by sheer determination but do not employ the proper methods and policies and through a series of ill-advised decisions, they start to free-fall.
                             </p>
                             <p>We deploy a series of methodologies to properly scale their business, increase profits, empower them with the proper knowledge of how to continue to expand their revenue influx. By way of quality-driven service, we offer solutions to presenting them to the right audience with the mechanics in place for them to take action, buy products, set an appointment, or any other actionable steps. We investigate and market research the industry to better inform our clients of upcoming trends so they’ll have the marketplace advantage, for no cost to our clients. This action-driven business process is pioneering and by embracing a better way of thinking, we minimize our client’s financial risk.</p>
-->                         <p>The world wide web is an ever changing, ever evolving entity that we know our clients must adapt to or be left behind in the dust. We know new technologies and opportunities means a great potential for larger piece of the market share but we also know this means more competition. We take a holistic approach to the business to calibrate the most effective and efficient way to approach the web in the long run.</p>

                         <p>The solutions we drive here are used to deliver greater value and increase competence deployed by our client to increase their business standard. Clients will gain insight through a holistic approach to maximizing value to their potential clients and how to sustain the competitive edge towards processes that are long lasting. </p>
                         </div>
                            <span><a class="corebutton" href="javascript:void(0)" ui-sref="core-competencies">View Core Competencies >></a></span>

                        </div>
                    </div>

                </div>

                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid textblock7">
    <div class="row">


        <div class="container">
            <h2>OUR STANDARDs <span>PRODUCTS</span> AND <span>SERVICES</span></h2>
            <div class="serviceslist">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 servicesblock1">
                    <img src="images/iconblock1.png" alt="#">
                    <h4>Website Software Platforms</h4>
                    <p>We have incredibly powerful marketing software platforms. Please click here to see the features of these incredible systems.
                    </p>
                    <a href="javascript:void(0)" ui-sref="web-platform" class="learnmore"> Learn more &#187;</a>
                    <div class="clearfix"></div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 servicesblock2">
                    <img src="images/iconblock2.png" alt="#">
                    <h4>Custom Software Engineering</h4>
                    <p>We have written over 2 million lines of custom code for some of the most successful companies. Please share with us your plans.
                    </p>
                    <a href="javascript:void(0)" ui-sref="custom-engineering" class="learnmore"> Learn more &#187;</a>
                    <div class="clearfix"></div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 servicesblock3">
                    <img src="images/iconblock3.png" alt="#">
                    <h4>Website Branding and Design</h4>
                    <p>Brand identity is something we have extensive experience in. From small to large we have branded hundreds of companies.

                    </p>
                    <a href="javascript:void(0)" ui-sref="web-design" class="learnmore"> Learn more &#187;</a>
                    <div class="clearfix"></div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 servicesblock4">
                    <img src="images/iconblock4.png" alt="#">
                    <h4>Visible Presence Development</h4>
                    <p>We will help you get your business seen by the right audience and train you to do it yourself. Our marketing strategies will impress you.


                    </p>
                    <a href="javascript:void(0)" ui-sref="presence-developement" class="learnmore"> Learn more &#187;</a>
                    <div class="clearfix"></div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 servicesblock5">
                    <img src="images/iconblock5.png" alt="#">
                    <h4>Content and Copy Writing</h4>
                    <p>Great actionable compelling content is critical to converting your audience. We have some of the best in-house writers in the industry.



                    </p>
                    <a href="javascript:void(0)" ui-sref="content-writing" class="learnmore"> Learn more &#187;</a>
                    <div class="clearfix"></div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 servicesblock6">
                    <img src="images/iconblock6.png" alt="#">
                    <h4>Online Business Modeling</h4>
                    <p>We can work with you on your overall business strategy, design and overall business plan or executive summary, history.


                    </p>
                    <a href="javascript:void(0)" ui-sref="business-modelling" class="learnmore"> Learn more &#187;</a>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</div>


<!--<div class="container homeformblock">
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


            <h4><span>contact</span><img src="images/logoold.png" alt="#"></h4>

            <form>
                <div class="form-group">
                    <input type="text" placeholder="Full Name" class="form-control">
                    &lt;!&ndash;<span class="has-error">error msg</span>&ndash;&gt;
                </div>

                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                    &lt;!&ndash;<span class="has-error">error msg</span>&ndash;&gt;

                </div>

                <div class="form-group phonegroup">
                    <input type="text" placeholder="Phone" class="form-control">
                    &lt;!&ndash;<span class="has-error">error msg</span>&ndash;&gt;

                </div>

                <div class="form-group">
                    <input type="text" placeholder="Message" class="form-control">
                    &lt;!&ndash;<span class="has-error">error msg</span>&ndash;&gt;

                </div>


                <div class="form-group codegroup">
                    <label>Enter Code*</label>
                    <img src="images/code.png" alt="#">
                    <input type="text"  class="form-control2">
                    <div class="clearfix"></div>
                    &lt;!&ndash;<span class="has-error">error msg</span>&ndash;&gt;

                </div>


                <input type="submit"  value="SUBMIT" class="homesubbtn"/>



                <div class="clearfix"></div>

            </form>


        </div>
    </div>

</div>-->

<!--
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="homeformblock">CONTACT US</div>
            <div class="divider-inner"></div>
            <div class="homeformblock2">
                <img alt="#" src="images/formlogo.png">
                <div class="container formdiv">
                    <form angular-validator-submit="contactsubmit()" name="contactform" novalidate angular-validator>

&lt;!&ndash;

                        <input class="textfield" name="fullname" type="text" placeholder="Full Name">
                        <input class="textfield" name="email" type="text" placeholder="Email">
                        <input class="textfield" name="phonenumber" type="text" placeholder="Phone Number">
                        <textarea name="message" cols="" rows="" placeholder="Message"></textarea>
&ndash;&gt;

                        <div class="form-group">

                            <input  type="text" class="form-control textfield" name="fullname" placeholder="Full Name"

                                    ng-model="form.fullname"
                                    required-message= "'Full name can not be blank.'"

                                    required
                            >
                        </div>
                        <div class="form-group">

                            <input type="email" class="form-control textfield" placeholder="Email Address" name="email"
                                   ng-model="form.email"
                                   required-message="'Email can not be blank.'"
                                   invalid-message="'Email not valid'"
                                   required
                            >
                            &lt;!&ndash; <span class="errormsg">erroe msg</span>&ndash;&gt;
                        </div>

                        <div class="form-group">

                            <input type="text" class="form-control textfield"  placeholder="Phone Number" name="phone_no"
                                   ng-model="form.phone_no"
                                   required-message="'Phone Number can not be blank.'"
                                   required
                            >
                            &lt;!&ndash; <span class="errormsg">erroe msg</span>&ndash;&gt;
                        </div>
                        <div class="form-group">

                                    <textarea class="form-control textfield" rows="3" name="message" placeholder="Message"
                                              ng-model="form.message"
                                              required-message="'Message can not be blank.'"
                                              required>
                                    </textarea>
                        </div>


                        <input class="sub" type="submit" value="SUBMIT">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>-->
