<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
           Chnage Password

        </h1>
        <!--<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">General Elements</li>
        </ol>-->
    </section>





    <section class="content">
        <div class="row">



            <!-- left column -->
            <div class="col-md-12">

                <!-- general form elements -->
                <div class="box box-primary" style="overflow:hidden; padding-bottom:40px;">

                    <div class="box-header with-border">

                    </div><!-- /.box-header -->
                    <!-- form start -->

                    <div class="formsection">
                        <form role="form" angular-validator-submit="profilechangepassFormSubmit()" name="profilechangepassForm" novalidate angular-validator>
                            <div class="box-body">

                                <div class="form-group">
                                    <label >Password</label>
                                    <input type="password" class="form-control"  placeholder="Password" name="password"
                                    ng-model="form.password"
                                     required-message="'Password can not be blank.'"
                                           required
                                    >
                                    <!-- <span class="errormsg">erroe msg</span>-->
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="password" class="form-control" name="con_password" placeholder="Confirm Password"
                                     ng-model="form.con_password"
                                           required-message="'Confirm password can not be blank.'"
                                           validator = "form.password === form.con_password"
                                           invalid-message="'Confirm password do not match'"
                                           required
                                    >
                                </div>

                              </div><!-- /.box-body -->

                            <div class="box-footer" style="background:none; height:auto; padding-bottom:0px; padding-top:0px;">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div><!-- /.box -->


                    <div style="clear:both;"></div>
                </div>

            </div>   <!-- /.row -->
        </div>
    </section>


</div>

