
<!--bannercontain-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bannercontain">
            <img src="images/web_platform_banner.jpg">
            <!--<h2>WEB <span>DESIGN</span></h2>
            <div class="container">
                <p>Maecenas vitae nunc eget quam pellentesque cursus eget et lacus. Vestibulum sollicitudin nisi nec pulvinar venenatis. Vivamus ornare, urna eget pulvinar eleifend, nibh lorem elementum mauris, in semper lectus elit ut ex.</p>
            </div>
            <div class="divider-inner"></div>-->

        </div>
    </div>
</div>
<!--div class="container-fluid">
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blockcore">
            <h2>WEB <span>PLATFORMS</span></h2>
            <div class="container">
                <p>Maecenas vitae nunc eget quam pellentesque cursus eget et lacus. Vestibulum sollicitudin nisi nec pulvinar venenatis. Vivamus ornare, urna eget pulvinar eleifend, nibh lorem elementum mauris, in semper lectus elit ut ex.</p>
            </div>
            <div class="divider-inner"></div>

        </div>
    </div>
</div>
&lt;!&ndash;bannercontain end &ndash;&gt;

&lt;!&ndash;bannercontain Start &ndash;&gt;
<div class="container-fluid">	
    	<div class="row">  
         	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content_writing_top_devider"></div>  	
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">   
                    <div class="content_writing_top_banner_grd">  
                     	<div class="content_writing_top_banner_webplat">
                            <div class="row">    
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                                    <div class="pd-banner">     
                                        <div class="content_writing_bannertext">
                                            <h4>Upgrade Your</h4>
                                            <h2>WEB PLATFORM</h2>
                                            <h3>TO THE NEXT LEVEL</h3>   
                                            <p>f you do not see what you are after here please get in touch. After writing 2 million lines of code over the past 15 years we have a wealth of software to work with.</p>
                                            <div class="divider-inner-blue"></div>              
                                        </div>
                                    </div> 
                                </div>                                                                                                           
                            </div>
                       </div>
                    </div>
                </div> 
        	</div>
     	</div>
--></div>

<!--
<div class="container-fluid">
	<div class="content_writing_top_banner_5">
    	<div class="row">    	
            <div class="col-md-12">            
                    <div class="content_writing_bannertext">
                        <h4>Upgrade Your</h4>
                        <h2>WEB PLATFORM</h2>
                        <h3>TO THE NEXT LEVEL</h3>   
                        <p>f you do not see what you are after here please get in touch. After writing 2 million lines of code over the past 15 years we have a wealth of software to work with.</p>
                    	<div class="divider-inner-blue"></div>               
                    </div>
            </div> 
        </div>
     </div>
</div>-->



<!--<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="webback">
                <div class="webback-left">
                    <img alt="#" src="images/webback.png">
                    <p>If you do not see what you are after here please get in touch. After writing 2 million lines of code over the past 15 years we have a wealth of software to work with.</p>
                    <div class="bluebar"></div>
                </div>
                <div class="webback-right"><img alt="#" src="images/webright.png"></div>
            </div>
        </div>
    </div>
</div>-->


<div class="container-fluid">
    <div class="corecomp">
        <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div  class="container customengmaindiv">
                <div class="customengmainleftdiv">
                    <img alt="#" src="images/webplatforms_image.jpg" class="floatRightclear">
                    <p>The latest web platforms used by InfluxIQ are solutions-driven offering
                        consistently high levels of performance. Whether our client is interested in a
                        dynamic website or a complete market launch platform, we work with them to find the right solution to transform their ideas into effective and reliable solutions.</p>
                    <p>Our platforms are immaculate and works for any type of clients; whether their just a start up, small business or a large enterprise. We deliver cost-effective solutions catered and uniquely established on a client by client basis, over a wide variety of industries all over the world.  </p>
                    <p>We create fully functional features along with a complete project-consultation through our core competencies to provide with clients with an agile roadmap to help propel their businesses. The outcome of this process is high-end products for clients.</p>
                <p>Interested in optimal and result-driven platform with robust and scalable features? Choose from a wide variety of web platforms below!</p>
                </div>

                <!-- <div class="prod-blockright customengmainrightdiv">

                   <div class="butdiv">
                        <div class="butdivleft">
                            <a href="#" class="butdivleft-right">ADD TO CONTRACT</a>
                        </div>
                    </div>
                </div>-->
                <div class="clearfix"></div>
                <!--<div class="greyline"></div>-->
            </div>
        </div>
    </div>
    </div>
</div>
<div class="container shoptabdiv">
    <ul  ng-show="productnamelist.length>0">
        <li ng-repeat="item in productnamelist"   ng-style="{'background-color': '{{item.colour}}'}"><a href="#"  class="product_listt" productid="{{item.id}}"><img src="{{item.icon_url}}">{{item.product_short_name}}</a></li>
        <!--

                <li class="t2"><a href="#"><img src="images/t2.png">Shop Deluxe</a></li>
                <li class="t3"><a href="#"><img src="images/t3.png">eCommerce Deluxe</a></li>
                <li class="t4"><a href="#"><img src="images/t4.png">Market Launch</a></li>
                <li class="t5"><a href="#"><img src="images/t5.png">360 Affilaite</a></li>-->

    </ul>
    <div class="clearfix"></div>
    <div class="greyline"></div>

</div>

<div class="container-fluid" ng-show="productlist.length>0">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div  class="container productdiv{{productitem.id}}" ng-repeat="productitem in productlist">
                <div class="prod-blockleft">
                    <h2><!--Dynamic Marketing Web-->{{productitem.product_name}}</h2>
                    <!--<h3>Platform Cost : $997.00 | Monthly Hosting : $49.00</h3>-->
                    <h3>Platform Cost : ${{productitem.product_price}} | Monthly Hosting : ${{productitem.monthly_hosting}}</h3>
<!--
                    <p>Our Business Standard Platform offers all the features and functionality one would expect from a professionally created website. Take advantage of our analytics and customer communications expertise, providing your inbound marketing needs with top-notch priority and quality of service.</p>
-->
<p ng-bind-html="trustAsHtml(productitem.product_description)"></p>
                    <ul><!--Our Business Standard Platform comes complete with the following-->{{productitem.product_feature_title}}
                        <li ng-repeat="fetureitem in productitem.product_feature">{{fetureitem}}</li>
<!--
                        <li>IIntellegent SEO software for Search Engine Optimization.</li>
                        <li>Simple CRM Manager.</li>
                        <li>Visitor Lead Capture System for Inbound Marketing.</li>
                        <li>Multiple Image Gallery.</li>
                        <li>Social Media Share tools for all the Major Social Networks.</li>
                        <li>Facebook Fanpage Display.</li>
                        <li>Multi-Video YouTube Agregator.</li>
                        <li>Functionality for your website to support International currency, providing you with the ability to market to a global economy. Ability to convert currency directly within the check-out process, allowing global visitors to display item costs in their own currency.</li>
                        <li>Ability for customers to add items to their wish list(s), rate products that they have purchased from the website and, if allowed, make comments on purchased items.</li>
                        <li>Customers are able to create accounts, sign up for product updates and view any of their purchases and past invoices at any time.</li>
                        <li>Numerous additional features, each expanding further upon those found within Business Standard and Shop Express. Some of these additional features include the ability to set special pricing, feature products on the homepage, suggest products during purchase (UpSell), and add products as attributes to other products.</li>
                        <li>All features and services contained within the Business Standard and Shop Express Platforms. This is an exceptionally powerful Platform for those looking to enhance their eCommerce services.</li>
-->
                    </ul>
                </div>

                <div class="prod-blockright">
                    <!--<img alt="#" src="images/prodimg1.png">-->
                    <img alt="#" src="{{productitem.font_image_url}}">
                  <!--  <a href="#" class="gocontact"><p>Have Questions about <span>Dynamic Marketing Web?</span></p></a>-->

                    <img ng-show="productitem.id==1" alt="#" src="images/MyBankNow.png">
                    <img ng-show="productitem.id==2" alt="#" src="images/DNAofSucess.png">
                    <img ng-show="productitem.id==3" alt="#" src="images/herozfit.png">
                    <img ng-show="productitem.id==4" alt="#" src="images/epicLyfe.png">
                    <img ng-show="productitem.id==5" alt="#" src="images/Jeunesse.png">
<!--
                    <img alt="#" src="images/prodimg1-1.png">
                    <img alt="#" src="images/prodimg1-1.png">
                    <img alt="#" src="images/prodimg1-1.png">
                    <img alt="#" src="images/prodimg1-1.png">
                    <img alt="#" src="images/prodimg1-1.png">
-->
                    <div class="butdiv">
                        <div class="butdivleft">
                            <a href="javascript:void(0);" ng-click="pop_pen(productitem)" class="butdivleft-right">ADD TO CONTRACT</a>
                           <!-- <a ui-sref="web-platform-details({id:productitem.id})" class="butdivleft-right">VIEW DETAILS</a>-->
                        </div>
                        <!--<a href="#" class="butdivright scrollToTop">Back to top <span>?</span></a>-->
                    </div>
                </div>
                <div class="clearfix"></div>
              <div class="greyline"></div>


            </div>
        </div>
    </div>
</div>





<script type="text/ng-template" id="product.html">

    <div class="confirm_delpopup" id="product_main_confirm_delbtn" >
        <a ng-click="cancel()" class="shutter-close2 ng-scope closebtn1" href="javascript:void(0)"><img class="ab-close" src="images/popup-Close.png"> </a>
        <div class="clearfix"></div>
        <div class="confirm_delbtn ng-scope">
            <div class="modalorangebar_new">Select Your Next Service</div>
            <div class="modal-body text-center">
                <div style="color: #f00;" ng-show="showselerror"> Please Select One</div>
                <div class="modal-body-inner" >
                <div class="checkbox checkclass" ng-repeat="item3 in categorylist">

                    <label class="prolabel" >
                        <img ng-show="item3.id==2" src="images/icon-webdesign.png" alt="web design">
                        <img ng-show="item3.id==3" src="images/icon-creativecontent.png" alt="creative content">
                        <img ng-show="item3.id==4" src="images/icon-presencedevelopment.png" alt="presence developement">

                        <input  ng-change="selectradio(item3.id)"  type="radio" value="{{item3.id}}"  name="dfgdf"  ng-model="selectedcat"
                        > <!--validator = "platformValidator() === true"
                                                       invalid-message = "platformValidator(form.platform_id)"-->
                        <span style="font-size:13px;">{{item3.category_name}}</span>
                    </label>



                </div></div>
                <div class="btnmodelorange">
                <a href="javascript:void(0);" ng-click="send774()"  class="probutton">Go</a>
                    </div>
              <!-- <button ng-disabled="!cat_id" ng-click="send(product)" class="probutton">Go</button>-->
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>


    <!--
        <div id="contactowmodal" class="modal fade" role="dialog">

            <div class="modal-dialog">



                &lt;!&ndash; Modal content&ndash;&gt;

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                        <h4 class="modal-title">Thank You For Contacting  Influxiq </h4>

                    </div>

                    <div class="modal-body">



                        <h2><a href="/index"><img  alt="#" src="images/logoold.png"></a></h2>

                        <p>A Influxiq Team Member Will Get Back to You In 24 Hours or less</p>

                    </div>



                </div>

    -->


    </div>

    </div>
</script>
